[2017-10-29 07:11] mbrukman opened #2 "Lowercase 't' in Bigtable in repo description (and everywhere else)"
The description for [this GitHub project](https://github.com/googleapis/nodejs-bigtable) currently is:

which is capitalizing the "T" in Bigtable incorrectly. As this repo will get cloned, the same capitalization will keep getting copied (with no way to push changes to those repos), which will make it difficult that the `t` is intended to be lowercase.

Unfortunately, it's not possible to submit a

[2017-10-31 17:12] lukesneeringer commented on #2
Fixed. Thank you for bringing that up!

[2017-10-31 17:12] #2 closed

[2017-10-31 17:28] lukesneeringer opened #5 "Confused about row(key).exists()"
_From @briangruber on October 27, 2017 16:4_

I'm confused about using the `exists()` method on a `row(key)`, hoping to get clarification.
If I want to check if a row exists I thought I would do this

[code]

If the row does exists then I do step into the `.then` and exists will be `true`. But if it doesn't exist I actually get an exception of `Unknown row: key`. So, then what is the point of `exi

[2017-10-31 17:28] lukesneeringer commented on #5
_From @callmehiphop on October 27, 2017 16:12_

Sounds like a bug! Just to confirm - are you reporting this for the Bigtable client?

[2017-10-31 17:28] lukesneeringer commented on #5
_From @briangruber on October 27, 2017 16:16_

Yes, this is for the node module `@google-cloud/bigtable`

[2017-10-31 17:28] lukesneeringer commented on #5
_From @stephenplusplus on October 30, 2017 13:32_

cc @Chipintoza who reported this in https://github.com/googleapis/nodejs-spanner/issues/23 (so you can track this)

[2017-10-31 17:31] lukesneeringer opened #6 "Bigtable this.end() does not stop the stream?"
_From @arbesfeld on May 2, 2017 14:15_

Using Bigtable 0.9.1 - I seem to be getting more than 1 result after calling `this.end()`. Is this expected behavior?

_Copied from original issue: GoogleCloudPlatform/google-cloud-node#2271_

[2017-10-31 17:31] lukesneeringer commented on #6
_From @stephenplusplus on May 2, 2017 16:4_

I recall seeing this discussed in another issue, and it might be an issue with one of our dependencies. I will look into it. Thanks for reporting.

[2017-10-31 17:31] lukesneeringer commented on #6
_From @stephenplusplus on May 2, 2017 17:17_

The issue I was thinking of doesn't actually relate to the Bigtable API, so throw that theory out the window.

I tried to reproduce, but couldn't. My script and results:

[code]

Without the `this.end()`:

[code]

Are you using a different method? Could there be other code interfering with when `this.end()` is called? Seeing your code might help.

[2017-10-31 17:31] lukesneeringer commented on #6
_From @arbesfeld on May 3, 2017 18:17_

We're using `table.createReadStream()`. Here's what it looks like:

[code]

Other methods could be using `table` at the same time, if that affects something?

[2017-10-31 17:31] lukesneeringer commented on #6
_From @stephenplusplus on May 3, 2017 18:19_

Would it be a problem that `resolve()` is called from the `data` handler and `end`? `this.end()` will gracefully exit the stream, which means that the end event will be called.

[2017-10-31 17:31] lukesneeringer commented on #6
_From @arbesfeld on May 3, 2017 20:4_

That would be acceptable for our application. We found that `onData` would continued to be called even after `this.end()`. We're on Node 7.9.0, and we found a workaround by introducing another variable outside of the promise.

[2017-10-31 17:31] lukesneeringer commented on #6
_From @stephenplusplus on May 3, 2017 20:9_

Found the issue. PR incoming.

[2017-10-31 17:31] lukesneeringer commented on #6
_From @stephenplusplus on May 4, 2017 18:54_

PR sent: #2276

[2017-10-31 17:32] lukesneeringer opened #7 "bigtable: retry partially failed reads and writes"
_From @arbesfeld on September 14, 2016 20:58_

My calls to bigtable `getRows()` fail intermittently, so I have had to wrap all of these methods in retry blocks. I was wondering:
1. Is this flakiness expected?
2. Have you considered adding a retry mechanism to these RPCs?

Thanks!

_Copied from original issue: GoogleCloudPlatform/google-cloud-node#1595_

[2017-10-31 17:32] lukesneeringer commented on #7
_From @stephenplusplus on September 14, 2016 21:10_

We do use an exponential backoff retry strategy before calling it a failure and returning an error. What errors are you getting? How often are you calling the API/are you waiting for a response before calling again?

You can pass a "maxRetries" number in the Bigtable constructor. The default is 2.

[code]

[2017-10-31 17:32] lukesneeringer commented on #7
_From @arbesfeld on September 14, 2016 21:44_

Thanks, I'll try out `maxRetries`

Here is the stacktrace:

[code]

[2017-10-31 17:32] lukesneeringer commented on #7
_From @stephenplusplus on September 14, 2016 21:59_

Interesting. Not sure what that error is. We only retry after certain error types, I'm not sure this is one we would retry. @lesv @murgatroid99 have you heard of this one?

[2017-10-31 17:32] lukesneeringer commented on #7
_From @stephenplusplus on September 15, 2016 20:18_

I found @murgatroid99's comment on [this issue](https://github.com/grpc/grpc/issues/7804#issuecomment-241491987), which says that this is a 503, so we do in fact retry on this error. `maxRetries` should work in this case in place of writing your own retry logic.

[2017-10-31 17:32] lukesneeringer commented on #7
_From @arbesfeld on September 19, 2016 18:9_

Hi, I'm still seeing this error message come up with both  `maxRetries: 6` and a custom retry wrapper around the `getRows` method.

Is there any more data that I could collect which would help identify the problem?

[2017-10-31 17:32] lukesneeringer commented on #7
_From @stephenplusplus on September 19, 2016 18:12_

Can you either show code or estimate how many requests you're making at once? Since this is a 503, it's an issue of either too many requests at once so the server needs a break, or the upstream API is actually broken in some way.

[2017-10-31 17:32] lukesneeringer commented on #7
_From @arbesfeld on September 19, 2016 18:23_

Absolutely, here is a snippet of the relevant code:

[code]

There could be potentially ~1000 rows in any given key range.

We only have one server node making these requests at any given moment of time.

Perhaps there is a better way to handle `error` here instead of immediately rejecting?

[2017-10-31 17:32] lukesneeringer commented on #7
_From @stephenplusplus on September 23, 2016 14:39_

@callmehiphop when you have a chance, would you mind trying to recreate this scenario?

[2017-10-31 17:32] lukesneeringer commented on #7
_From @mbrukman on November 24, 2016 4:27_

FWIW, this behavior (partial failure in batch operations) is expected from the Bigtable perspective. A bulk read or write operation can affect many rows, and what can happen is that some of the reads or writes will succeed, while others may fail (because different parts of the bulk request may go to different backing Bigtable servers, of which some may b

[2017-10-31 17:32] lukesneeringer commented on #7
_From @arbesfeld on December 11, 2016 16:58_

@mbrukman @stephenplusplus given this, what is the recommended approach here? Is the user responsible for handling this retry logic?

[2017-10-31 17:32] lukesneeringer commented on #7
_From @sduskis on December 11, 2016 17:1_

Java and golang both have automated retries.  Retries are  nuanced for long running scans and bulk writes.

[2017-10-31 17:32] lukesneeringer commented on #7
_From @arbesfeld on December 11, 2016 17:5_

@sduskis I see, so for now we might have to include retry logic in our calls with this nodejs library? Is this expected for both bulk read calls and streaming reads?

[2017-10-31 17:32] lukesneeringer commented on #7
_From @stephenplusplus on December 12, 2016 14:4_

You are free to implement this in your application, but it's something we will eventually support in this library.

[2017-10-31 17:32] lukesneeringer commented on #7
_From @arbesfeld on December 12, 2016 15:55_

How does this work for a streaming application? Should we restart the stream at the failed point?

[2017-10-31 17:32] lukesneeringer commented on #7
_From @garye on December 13, 2016 0:2_

@arbesfeld @stephenplusplus Yes, for streaming reads it's best to restart the stream after the last successfully received row. For multi-row mutations that call mutate_rows under the hood, only mutations that received an error should be retried.

As @stephenplusplus said, "smart" retries should definitely be handled in the library (should I create a separate

[2017-10-31 17:32] lukesneeringer commented on #7
_From @arbesfeld on December 16, 2016 3:56_

We are having a bit of difficulty implementing this at the application level, since it seems like we are just getting thrown a generic error, so we end up having to retry the entire read.

@stephenplusplus happy to make a contribution here if it makes sense, though I could use a bit of direction as to where to start looking.

[2017-10-31 17:32] lukesneeringer commented on #7
_From @arbesfeld on December 17, 2016 17:58_

Alternatively, some recommendation for how to handle this at the application level would also be greatly appreciated.

We are currently doing something like this:

[code]

Would it work to just wrap this in a try/catch and then restart from the last-seen row? It's hard to reproduce the BigTable failure so we have no idea if our approach is working.

[2017-10-31 17:32] lukesneeringer commented on #7
_From @arbesfeld on January 30, 2017 15:40_

Hi @callmehiphop any updates on this issue? I would be happy to submit a PR if you wouldn't mind pointing me to where I should address the issue.

[2017-10-31 17:32] lukesneeringer commented on #7
_From @arbesfeld on January 30, 2017 15:49_

At the very least, we'd like to be able to handle this at the application level.

[2017-10-31 17:32] lukesneeringer commented on #7
_From @callmehiphop on February 8, 2017 20:4_

@arbesfeld sorry, we've been pretty busy with other items, but I'm going to try and get on this within the next week or so.

[2017-10-31 17:32] lukesneeringer commented on #7
_From @arbesfeld on March 3, 2017 15:12_

@callmehiphop sorry to keep bugging you. I'd be happy to take a look if you could give me a bit of direction on the implementation :-)

[2017-10-31 18:42] sduskis commented on #7
I'm going to be writing a design doc for Cloud Bigtable resumable reads and partial failures of bulk writes. It's also worth having an offline discussion for these features.

[2017-11-05 18:10] stephenplusplus opened #8 "Bigtable error silently ignored"
_From @kolodny on November 5, 2017 17:59_

  - OS: OSX 10.12.6
  - Node.js version: 8.5.0 and 6.x
  - npm version: 5.3.0
  - google-cloud-node version: bigtable@0.10.2 common-grpc@0.4.2 retry-request@3.1.0

#### Steps to reproduce

[code]

I chased this bug down to https://github.com/GoogleCloudPlatform/google-cloud-node/blob/a64ad81517045196cf5a3f468ea15aad1e2c25da/packages/common-grpc/src/servic

[2017-11-05 19:26] callmehiphop commented on #8
This is a `common-grpc` issue. Re-opening the original.

[2017-11-05 19:26] #8 closed

[2017-11-10 02:41] sduskis opened #10 "Implement read-rows-acceptance-test."
There is a standard set of tests driven by a json file.  Here's the [Python version](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/49e744c81c50db4484a00b4ab4ed1423fd21c5d1/bigtable/tests/unit/test_row_data.py#L435), the [GoLang version](https://github.com/GoogleCloudPlatform/google-cloud-go/blob/99eed3309ff7980d16154d2258600a5b38b129a9/bigtable/reader_test.go#L220) and the [Java

[2017-11-10 07:17] callmehiphop commented on #10
Here's a quick link to [Pythons JSON file](https://github.com/GoogleCloudPlatform/google-cloud-python/blob/49e744c81c50db4484a00b4ab4ed1423fd21c5d1/bigtable/tests/unit/read-rows-acceptance-test.json)

[2017-11-14 22:01] #5 closed

[2017-12-13 19:14] #6 closed

[2017-12-19 18:01] stephenplusplus opened #23 "Convert API to use GAPIC"
Continuing from Bigtable [Convert grpc APIs to use GAPIC](https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1859), Bigtable is the only API left to complete these steps:

- [ ] Bigtable
  - [ ] Generated files are in repo
  - [ ] Handwritten API is using generated API
  - [ ] Passing through `gaxOptions` is available on all requests
  - [x] Automatic projectId insertion works

[2017-12-22 18:23] stephenplusplus commented on #23
@kolodny I'm happy to do this conversion effort whenever the time is right, so it follows the patterns of our other APIs that have converted (there are some gotchas, like pre-processing requests and streams for `{{projectId}}` placeholders, and allowing GAX's `callOptions` parameter through). Updating to GAPIC shouldn't have any breaking changes, but before going GA, I'll do a quick run-through of

[2017-12-28 03:14] pwwolf opened #24 "Row's ID always encoded as a string when using table.createReadStream"
I'm using @google-cloud/bigtable@0.10.2 with node v8.9.3 on linux.

I have a table where the row keys contain binary data, e.g. <Buffer db ee fe e8 fe 9f 65 33 dd 11 1f 2e ec d4 00 00> (*2+7+6P6fZTPdER8u7NQAAA==* in base64).

If I retrieve the row using row.get(), the id correctly comes back as a Buffer.

[code]
However, if I perform a scan using createReadStream, I get a different behavior. The i

[2017-12-28 16:37] #24 closed

[2018-01-05 16:56] #10 closed

[2018-01-09 11:09] ajaaym opened #28 "table.row().get() dont accept filter in options"
table.row().get() overwrites filter created out of first argument ignoring filter provided as options. This limits the filter options can be passed to get row request.

[2018-01-10 18:01] #28 closed

[2018-01-10 22:48] sduskis commented on #23
I found out that GAPIC would upgrade our protobufjs dependency from 5.* to 6.*, which should give us massive performance gains.  I'm looking forward to this change.

[2018-01-11 16:10] stephenplusplus commented on #23
Are we ready to switch over yet?

[2018-01-11 17:51] sduskis commented on #23
We'll be ready once #27 is merged.

[2018-01-16 18:17] greenkeeper[bot] opened #30 "An in-range update of uuid is breaking the build 🚨"
## Version **3.2.1** of [uuid](https://github.com/kelektiv/node-uuid) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-bigtable/compare/greenkeeper%2Fuuid-3.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      uuid
    </td>
  </tr>
  <tr>
    <th align=left>
      Cu

[2018-01-16 22:37] #30 closed

[2018-01-17 21:25] greenkeeper[bot] opened #31 "An in-range update of @google-cloud/nodejs-repo-tools is breaking the build 🚨"
## Version **2.1.4** of [@google-cloud/nodejs-repo-tools](https://github.com/GoogleCloudPlatform/nodejs-repo-tools) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-bigtable/compare/greenkeeper%2F%40google-cloud%2Fnodejs-repo-tools-2.1.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </

[2018-01-17 21:50] #31 closed

[2018-01-19 19:34] #7 closed

[2018-01-22 16:17] krystianity commented on #23
Hey guys, any updates on this? Since #27 is merged.

[2018-01-23 17:10] stephenplusplus commented on #23
@alexander-fenster could you generate us some GAPIC code?

[2018-01-23 18:39] alexander-fenster commented on #23
Working on it.

[2018-01-31 21:17] alexander-fenster commented on #23
Will do that.

[2018-02-02 00:46] greenkeeper[bot] opened #36 "An in-range update of eslint-plugin-prettier is breaking the build 🚨"
## Version **2.6.0** of [eslint-plugin-prettier](https://github.com/prettier/eslint-plugin-prettier) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-bigtable/compare/greenkeeper%2Feslint-plugin-prettier-2.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-pl

[2018-02-02 00:56] #36 closed

[2018-02-06 19:24] sduskis commented on #23
@alexander-fenster, what's the story with admin?

[2018-02-06 19:41] alexander-fenster commented on #23
In progress. Changes will likely be published to googleapis/googleapis
today and then I'll generate the code.

On Tue, Feb 6, 2018 at 11:24 AM, Solomon Duskis <notifications@github.com>
wrote:

[2018-02-10 20:12] greenkeeper[bot] opened #42 "An in-range update of sinon is breaking the build 🚨"
## Version **4.2.3** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-bigtable/compare/greenkeeper%2Fsinon-4.2.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sinon
    </td>
  </tr>
  <tr>
    <th align=left>
      Curr

[2018-02-10 20:12] #42 closed

[2018-02-14 18:34] stephenplusplus opened #44 "Patch & ProtoBuf issues"
Hey @kolodny, can you take a look at these issues?

From https://circleci.com/gh/googleapis/nodejs-bigtable/1109:

[code]

[code]

[2018-02-15 17:01] kolodny commented on #44
It appears this bug was introduced when protobuf was changed from v5 to v6. https://github.com/googleapis/nodejs-bigtable/commit/29c21589efe3137813fda19969897f3cab6d7f56#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L94

I think it's a matter of updating the system test to use the updated version.

The patch stuff is a red herring.

[2018-02-15 19:07] sduskis commented on #44
@ajaaym FYI.

[2018-02-15 19:25] ajaaym commented on #44
I will fix this today.

[2018-02-16 11:16] ajaaym commented on #44
@sduskis @stephenplusplus @kolodny please review pull request [45](https://github.com/googleapis/nodejs-bigtable/pull/45) fixing this issue

[2018-02-20 00:23] stephenplusplus commented on #44
Hey @ajaaym, I'm still getting the first error (about patching) locally and on the system tests: https://circleci.com/gh/googleapis/nodejs-bigtable/1131

[2018-02-20 02:49] ajaaym commented on #44
@stephenplusplus  Is this still an issue? I cloned your branch spp--23, ran system test and its passing except that skipped one related to mutate rows.

[2018-02-20 02:50] stephenplusplus commented on #44
Do you see this part?:

[code]

[2018-02-20 03:00] ajaaym commented on #44
yes fixing that.

[2018-02-20 03:00] kolodny commented on #44
That shouldn't cause a failure, it patches processNextickArgs if it has a
broken version (ie doesn't play nicely with lolex) if, however, it was
already patched or if lolex gets updated, the patch operation will fail but
that's allowed. Note the ` || true` on that line.

It may make sense to redirect stderr to Dev/null to avoid this
misunderstanding in the future

On Feb 19, 2018 9:50 PM, "Stephen

[2018-02-20 03:09] ajaaym commented on #44
yeah command prints error and exists with return code 0

[2018-02-20 03:18] kolodny commented on #44
Just making sure we're all on the same page. @stephenplusplus  @ajaaym can this issue be closed or are there still other blockers?

[2018-02-20 03:24] kolodny opened #47 "Respect decode: false option when cell value is split between chunks"
There appears to be a big in chunktransformer where if a cell is in progress the `+=` operator is used. This causes two buffers to stringify: `Buffer('test') + Buffer('ing') === String('testing')`

I have the fix below, however I gave up trying to get the coverage to stay at 100%. @ajaaym can you take a look and try creating a PR to include tests? Thanks

[code]

[2018-02-20 04:16] ajaaym commented on #47
create pull request [48](https://github.com/googleapis/nodejs-bigtable/pull/48)

[2018-02-20 13:37] stephenplusplus commented on #44
Is it possible it's fixed now, which is why we're getting the error? In other words, can we remove the patching?

[2018-02-20 15:26] kolodny commented on #44
Not really, this is still broken in through2, once https://github.com/rvagg/through2/pull/88 is merged and published, we would need to update our dependency of through2, then I believe the patching code can be removed. We can potentially change the `presystem-test` line in `package.json` from this:

[code]

to this:

[code]

but I figured it wasn't really worth it. I'm open to that change if other

[2018-02-20 21:11] stephenplusplus commented on #44
Sorry, I think I need more time to process what's going on, and this isn't that important, so I'm kind of deferring that for now :) The part I'm confused about is why some systems would need the patch and not others.

[2018-02-21 03:18] kolodny commented on #44
All systems need a patch. Some need the node v4 patch, some need the non v4 patch. Once it's patched the first time it will always work and patching again will fail but that's OK. Let me know if that clears it up

[2018-02-21 15:06] stephenplusplus commented on #44
Gotcha, thanks. I'll close this one.

[2018-02-21 15:06] #44 closed

[2018-03-01 15:34] greenkeeper[bot] opened #50 "An in-range update of concat-stream is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **1.6.1** of [concat-stream](https://github.com/maxogden/concat-stream) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-bigtable/compare/greenkeeper%2Fconcat-st

[2018-03-01 15:39] #50 closed

[2018-03-02 17:39] stephenplusplus opened #51 "Releasing 0.12.0 Stalled"
0.12.0 was not released 16 days ago due to some error: https://circleci.com/gh/googleapis/nodejs-bigtable/1109

I'm trying to get the release through now, but we're stalled on a new error.

@kolodny could you please take a look?

https://circleci.com/gh/googleapis/nodejs-bigtable/1408:

[code]

[2018-03-02 18:17] kolodny commented on #51
Very weird, I can't replicate. Try re-releasing? It may have been a transient bug

[2018-03-05 19:51] stephenplusplus commented on #51
@kolodny do we need the same patch you figured out for the GAPIC PR?

[2018-03-06 22:01] nodeful opened #54 "Table Row mutation use Admin API?"
Today I was playing around with this Library and noticed that it ate up all my BigTable Admin API quota, while I was inserting rows into a pre-created table.
Shouldn't any row mutation be performed through the BigTable API that doesn't have a quota?
I am running a Development BigTable instance at the moment.

#### Environment details

  - OS: Alpine
  - Node.js version: 8.9
  - npm version: 5.5

[2018-03-07 09:03] greenkeeper[bot] opened #55 "An in-range update of mocha is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **5.0.3** of [mocha](https://github.com/mochajs/mocha) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-bigtable/compare/greenkeeper%2Fmocha-5.0.3">Build failing

[2018-03-07 17:56] stephenplusplus commented on #54
@kolodny @sduskis any insight on this? The currently released version of this library calls "BigtableClient"'s "mutateRows" rpc.

[2018-03-07 18:30] sduskis commented on #54
@stephenplusplus, I'm guessing that this isn't a problem with `mutateRows`.  Is it possible that these two lines run any RPCs?

[code]

[2018-03-07 18:38] sduskis commented on #54
@nodeful, can you please create a support ticket?  That would help us deep dive into this problem.

[2018-03-07 21:46] #55 closed

[2018-03-07 21:49] stephenplusplus commented on #54
I'm going to close this here for now, but we can re-open if anything comes of the investigation to suggest we can resolve on our end.

[2018-03-07 21:49] #54 closed

[2018-03-08 16:54] stephenplusplus commented on #51
@kolodny @sduskis we're still stuck with failures from the `system-test/mutate-rows.js` test suite. Could you please take a look?

[code]

[2018-03-09 01:58] kolodny commented on #51
I opened #59 with a fix. [The issue was not having a projectId on the bigtable instance](https://github.com/kolodny/nodejs-bigtable/commit/2772e9398f79649b6d7de94b649b34ed7b5edca1#diff-0cedc9221fec4b33142665cc44113ca1R50) nodejs-common has the [throwing code](https://github.com/googleapis/nodejs-common/blob/6f6178bd833219a76735d39d4e1d857871096a7f/src/util.js#L565-L567). I'm not sure what changed

[2018-03-09 02:02] stephenplusplus commented on #51
Thanks! How did you track it down to that throwing code link? The error I got above doesn’t seem related at first glance.

[2018-03-09 02:07] kolodny commented on #51
Sure!

It was a matter of putting a debugger in the mocha code where it tries to runAll and see that it keeps adding more items to the run loop, when I looked at where those items were being set I saw it was in the `try catch` or decorateRequest which I was able to see the error text of not having a `projectId`. I cleaned up the code a drop to make sure things like this don't happen in the future

[2018-03-09 10:55] nodeful commented on #54
I think some of the merges into this repo: https://github.com/stephenplusplus/google-auto-auth/pulls
fixed the problem for me. All I had to do is `npm i -S @google-cloud/bigtable` again. This pulled the latest google-auto-auth and saved in package-lock.json

[2018-03-09 15:26] stephenplusplus commented on #51
Gotcha, thank you for the explanation!

[2018-03-09 17:33] #51 closed

[2018-03-13 20:27] #23 closed

[2018-03-14 17:01] greenkeeper[bot] opened #62 "An in-range update of @google-cloud/nodejs-repo-tools is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **2.2.3** of [@google-cloud/nodejs-repo-tools](https://github.com/GoogleCloudPlatform/nodejs-repo-tools) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-bigtabl

[2018-03-14 19:03] #62 closed

[2018-03-16 23:11] greenkeeper[bot] opened #65 "An in-range update of eslint is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **4.19.0** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-bigtable/compare/greenkeeper%2Feslint-4.19.0">Build fai

[2018-03-19 14:07] #65 closed

[2018-03-19 14:26] #47 closed

[2018-04-03 11:58] przemekd opened #75 "Default credentials error while using with a Bigtable emulator"
I try to use this library with a Bigtable emulator. Everything I try to do ends with an error:
`Error: Unexpected error while acquiring application default credentials: Could not load the default credentials. Browse to https://developers.google.com/accounts/docs/application-default-credentials for more information.
`

#### Environment details

  - OS: Ubuntu 16.04
  - Node.js version: v6.14.1
  -

[2018-04-03 14:31] stephenplusplus commented on #75
That path, `Bigtable.v2.BigtableTableAdminClient()` takes you right to the "GAPIC" layer, which is an autogenerated client. The handwritten layer stands in front of that. The same operation should look like:

[code]

The local emulator will be recognized and used.

[2018-04-03 14:35] przemekd commented on #75
@stephenplusplus The same happens with your code:
`(node:2139) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 3): Error: Unexpected error while acquiring application default credentials: Could not load the default credentials. Browse to https://developers.google.com/accounts/docs/application-default-credentials for more information.
`

[2018-04-03 14:37] stephenplusplus commented on #75
Can you verify the correct environment variables are set, given from the emulator? I tested locally before sharing the code, and it worked for me.

[2018-04-03 14:39] przemekd commented on #75
Yep, there is a variable set by a gcloud command:

[code]

[2018-04-03 15:49] pkriete opened #76 "Some numbers not decoded"
We just upgraded to 0.13 from 0.11 and are seeing a regression with `decode: true`.

One of our numeric values is being decoded while in a `ROW_IN_PROGRESS` state in the ChunkTransformer [here](https://github.com/googleapis/nodejs-bigtable/blob/master/src/chunktransformer.js#L332). Passing `isPossibleNumber: true` fixes the problem, but I'm not sure what other side effects that might have.

Happy

[2018-04-03 15:50] stephenplusplus commented on #76
@kolodny -- any ideas?

[2018-04-03 17:34] sduskis commented on #76
@ajaaym

[2018-04-03 18:11] kolodny commented on #76
It's always safe to pass true in, it's only there for performance
considerations. If it needs to be changed to true then by all means change
it where needed

On Tue, Apr 3, 2018, 1:34 PM Solomon Duskis <notifications@github.com>
wrote:

[2018-04-03 22:39] stephenplusplus commented on #75
I was able to reproduce. I should have a PR tomorrow.

[2018-04-05 15:14] stephenplusplus commented on #75
@przemekd PR is ready for review! Feel free to check it out, or just try it:

[code]

[2018-04-05 15:26] przemekd commented on #75
@stephenplusplus Thanks a lot, it works now. :+1:

[2018-04-05 15:26] stephenplusplus commented on #75
That's good news! We haven't merged to master yet, so we'll keep the issue open for now :)

[2018-04-05 20:45] DominicKramer opened #79 "`DEADLINE_EXCEEDED` Error when using `table.dropRows()`"
When using the`table.dropRows()` method to clear a table, I receive the following error:
[code]
The associated code is:
[code]

[2018-04-06 15:59] stephenplusplus commented on #79
Confirmed. Here's what I know:

- We're calling directly through to GAPIC
- The error comes back immediately
- The [config file](https://github.com/googleapis/nodejs-bigtable/blob/f1e3ece3d7a6f4b93e6d3540700eb0d1f09852bd/src/v2/bigtable_table_admin_client_config.json#L54) specifies a `timeout_millis` of 60000
- Setting a [`deadline`](https://googleapis.github.io/gax-nodejs/global.html#CallOptions)

[2018-04-06 18:39] alexander-fenster commented on #79
@igorbernstein2 can you point us to the right direction? `table.deleteRows()` calls `DropRowRange` message which does not list any way of setting any kind of deadline - or am I reading it wrong?

[2018-04-09 20:05] clockwork189 opened #80 "Bigtable.Filter is undefined"
I am able to successfully create tables and families and add rows into my table. However when I need to use the Filter command, Filter comes off as undefined. I can get all rows in the table, however if I need to filter out some rows using the Filter, I am not able to.

#### Environment details

  - OS: Mac High Sierra
  - Node.js version: 8.11.1
  - npm version: 5.6.0
  - `@google-cloud/bigtable`

[2018-04-09 20:52] clockwork189 commented on #80
Just a small update, I decided to investigate the codebase myself and noticed that there is no reference to Filter passed in src/index.js.

A workaround I used to be able to access the Filter property is by importing the feature like below:

`const Filter = require('@google-cloud/bigtable/src/filter');`

[2018-04-09 22:25] stephenplusplus commented on #80
@callmehiphop is this how the Filter object is meant to be used?

[2018-04-09 22:49] stephenplusplus commented on #80
As an example of how to use filters, take a look at the method docs for `table.createReadStream()`: https://cloud.google.com/nodejs/docs/reference/bigtable/0.13.x/Table.html#createReadStream:

[code]

`Filter` is actually a private class, that isn't to be used directly. I'll try to find a fix to remove them from the docs.

[2018-04-09 23:37] sduskis commented on #80
@stephenplusplus: Thanks!

[2018-04-10 00:51] #76 closed

[2018-04-12 10:50] moander opened #83 "Unexpected \u0000 in row version values"
I'm getting unexpected value on all except the latest one

#### Actual result:
[code]

#### Expected result:
[code]

#### Environment details

  - OS: macos 10.13.3
  - Node.js version: 8.10.0
  - npm version: 5.6.0
  - yarn version: 1.3.2
  - `@google-cloud/bigtable` version: 0.13

#### Steps to reproduce

[code]

[2018-04-12 10:53] moander commented on #83
The results I expected is also reflected in the example here:
https://cloud.google.com/nodejs/docs/reference/bigtable/0.13.x/Bigtable

[code]

[2018-04-12 12:40] sduskis commented on #83
This may have been fixed with #77.

[2018-04-12 17:25] kolodny commented on #83
This should be fixed in master. @moander can you try it out with the latest master branch by running the following:

[code]

@stephenplusplus I think it may be worth pushing a release so others don't run into this behavior.

[2018-04-12 20:18] moander commented on #83
Thank you. It works as expected using master branch.

What state would you say this library is in despite its alpha status? Is it safe to do some basic reading/writing in production?

[2018-04-12 20:18] #83 closed

[2018-04-12 20:28] moander opened #84 "Consider not deleting all rows when no prefix is defined"
I suggest changing the behaviour of deleteRows to make it less easy to delete all rows in a table by mistake.

[2018-04-12 20:35] sduskis commented on #84
We should probably add an explicit flag that says "definitely get rid of all of the rows".  In testing scenarios, this is quite useful.  In production cases, that would be quite awful.

[2018-04-12 20:40] sduskis commented on #79
@stephenplusplus, the DropRowRange rpc will take quite a bit of time to execute this request.  1 minute is not a long enough span in some cases.  [Here's the yaml](https://github.com/googleapis/googleapis/blob/master/google/bigtable/admin/v2/bigtableadmin_gapic.yaml#L573).

I'll raise a bug for this internally.  We ought to review all of our timeouts for Admin operations.  Once that happens, we'll

[2018-04-12 20:41] JustinBeckwith opened #85 "Convert to ES classes"
We have code like this:

[code]

That won't work with TypeScript :)

[2018-04-12 20:41] JustinBeckwith opened #86 "Drop support for node.js 4"

[2018-04-12 22:31] stephenplusplus commented on #79
Ah, ok. So we're sending the right request, but the API is blocking it?

[2018-04-13 11:45] sduskis commented on #79
@stephenplusplus: correct.  The server side has a 2 minute minimum deadline, and the client sends 1 minute.

I'll take this bug for now.

[2018-04-13 13:36] kolodny commented on #85
Is there any reason to not just move everything over to ES classes?

[2018-04-13 13:40] sduskis commented on #83
I'm the Tech Lead for Cloud Bigtable clients.  Yes, it is safe to use this client in production.

We have a significant user-base for this client, and we commit to supporting our users.  Towards that end, we are planning to upgrade this client to Beta in the near future.  The Beta status will come with documentation and sample enhancements and some additional non-core admin features.

We did a sig

[2018-04-17 09:00] moander opened #89 "Problem with boolean and decimal values"
I'm seeing this result. bool and bool_t should be true, bool_f should be false, and dec should be 1.23

[code]

#### Environment details

  - OS: macos 10.13.3
  - Node.js version: 8.10.0
  - npm version: 5.6.0
  - yarn version: 1.3.2
  - google-cloud-node version: master branch (0.13)

#### Steps to reproduce

[code]

[2018-04-17 20:26] stephenplusplus commented on #89
I was able to reproduce.

cc @kolodny

[2018-04-19 10:23] moander opened #90 "Auto create family does not work"
The autoCreate option does not work for family

#### Environment details

OS: macos 10.13.3
Node.js version: 8.10.0
npm version: 5.6.0
yarn version: 1.3.2
google-cloud-node version: master branch (0.13)

#### Steps to reproduce

[code]

[code]

[2018-04-19 10:52] moander opened #91 "getTables returns empty metadata.columnFamilies object"
table.get() returns the families but the object is empty using getTables

[code]

#### Environment details

OS: macos 10.13.3
Node.js version: 8.10.0
npm version: 5.6.0
yarn version: 1.3.2
`@google-cloud/bigtable` version: master branch (0.13)

#### Steps to reproduce

[code]

[2018-04-19 20:13] callmehiphop commented on #91
Looks like we're [assigning the metadata](https://github.com/googleapis/nodejs-bigtable/blob/master/src/instance.js#L694) correctly. @sduskis will the column families be returned via `listTables`?

[2018-04-19 23:53] sduskis commented on #91
@callmehiphop: Column families are not returned from listTables.  One would have to call GetTable (per table) to populate the column familes.

[2018-04-20 03:12] rlucioni opened #92 "New patch release"
Is there any chance you could release an 0.13.1 that includes the changes from https://github.com/googleapis/nodejs-bigtable/pull/77? A release was alluded to in https://github.com/googleapis/nodejs-bigtable/issues/83 but doesn't seem to have happened yet. Thank you!

[2018-04-20 12:53] kolodny commented on #92
@stephenplusplus Can we push out a release?

[2018-04-20 13:59] stephenplusplus commented on #92
PR sent: #93

[2018-04-20 14:10] sduskis commented on #91
@stephenplusplus: what do we need to do here?

`GetTables` returns a list of Strings.  Should we deprecate `getTables()` and create a new method called `getTableNames()`?

[2018-04-20 14:14] stephenplusplus commented on #91
We call our method `getTables()` because we are returning `Table` objects. Those objects can be used to call `getMetadata()` on for a more complete representation.

[2018-04-20 15:29] kolodny opened #94 "Switch to int64-buffer"
We currently use `node-int64` which is slower and less correct than `int64-buffer`:

[code]

outputs:

[code]

[2018-04-20 15:36] kolodny commented on #89
Bigtable stores all it's fields in binary with no encoding information. The typical way to put data inside bigtable or extract it out is by manually doing the encoding/decoding. The library currently helps out by [converting numbers to Buffers](https://github.com/googleapis/nodejs-bigtable/blob/master/src/mutation.js#L87-L101) otherwise it just passes whatever the value is to `Buffer.from` and hop

[2018-04-20 15:38] kolodny commented on #89
One thing to note based on the above, any data previously entered in that fashion should be considered bad and should be deleted

I'll close this issue for now, feel free to reopen if you have any followup questions or issues

[2018-04-20 15:38] #89 closed

[2018-04-20 17:53] #75 closed

[2018-04-20 19:01] #90 closed

[2018-04-20 20:20] kolodny opened #96 "Pass rules to family.get with autoCreate"
This is just a placeholder issue to apply this patch and write the necessary tests

[code]

[2018-04-22 05:15] moander commented on #89
Thanks. I would consider throwing on everything except string buffer and null/undefined instead of potentially storing bad values. After testing to see that string/int works you may move on thinking that also bool and decimal works (like I almost did).

An option that enables the lib to use JSON.parse() and JSON.stringify() on non-buffer values could be handy.

[code]

[2018-04-22 13:10] ajaaym commented on #94
@kolodny any idea about [long.js from decodeIO](https://github.com/dcodeIO/long.js) which is used in protobufjs as well?

[2018-04-22 18:58] JoshFerge opened #97 "add `prefixes` option in createReadStream to read from multiple prefixes?"
Reading with multiple prefixes is a common use case in our project. Currently the way we do this is using the internal `createPrefixRange_` to create an array of ranges. Could having a `prefixes` option be a small enhancement to the API?

[2018-04-23 09:53] moander opened #98 "row.get() ignores columns array when filters are applied"
#### Environment details

OS: macos 10.13.3
Node.js version: 8.10.0
npm version: 5.6.0
yarn version: 1.3.2
@google-cloud/bigtable version: master branch (0.13)

#### Steps to reproduce

[code]

[2018-04-23 15:39] callmehiphop commented on #91
My guess is that this is something we can resolve with documentation

[2018-04-23 15:45] callmehiphop commented on #98
@moander have you tried using `filter` instead of `filters`?

[2018-04-23 15:54] sduskis commented on #97
+1 on this feature.  This seems like it should be straight forward to implement.

[2018-04-23 19:31] rlucioni commented on #92
Reopening because 0.13.1 hasn't made it to npm. Looks like the system_tests job failed and prevented the publish_npm job from running.

[2018-04-23 20:59] sduskis commented on #79
@stephenplusplus, the file is generated, so we should probably fix the underlying configuration and regenerate node.js GAPIC.  @igorbernstein is going to work on the configuration part tomorrow.  We'll need help from @alexander-fenster after that.

I'm ok with changing the file manually, if you think that's ok.  If you're going to change it manually, I would suggest using at least 10 minutes.  We

[2018-04-23 21:03] alexander-fenster commented on #79
Just FYI, it's now @crwilcox who will regenerate GAPIC (but I'll be happy to help if needed).

[2018-04-23 21:04] stephenplusplus commented on #92
Now we did it!

[2018-04-23 21:04] #92 closed

[2018-04-24 00:38] kolodny commented on #94
Yup, looks like it's even faster

[code]

[2018-04-24 02:06] kolodny opened #102 "Investigate: Throwing on lossy insertion"
Currently if we add a boolean or double we lose information on the bigtable side since we can't properly encode the data. Some exploration needs to happen regarding how to go about resolving this issue.

Some ideas

1. Require the user to provide a encoder/decoder when instantiating Bigtable if they use an "unsafe" value:
[code]
1. Only allow int64, buffers, (and strings?), and require the user to

[2018-04-24 02:08] kolodny commented on #89
Thanks @moander, I opened #102 to get a discussion about that point started.

[2018-04-24 07:49] moander commented on #98
@callmehiphop that is actually what I'm doing.. So bad repro code ;)

[2018-04-24 13:42] moander commented on #102
One key question is what the responsibility of this library should be. Is it a connector library that should only support what is supported by the backend or should it also be for the general NodeJS user that want's to store javascript objects.

I like your first approach as it opens up for being both by having a built-in Javascript converter

[2018-04-24 14:13] sduskis commented on #102
The back end doesn't support any types whatsoever.  (With the exception of Increment, which requires the user to use big-endian int64)

[2018-04-24 14:22] moander opened #103 "Increment overflow"
I tried to increment a value by Number.MAX_SAFE_INTEGER

Incrementing beyond int64 gives you a string in return:
[code]

#### Environment details

OS: macos 10.13.3
Node.js version: 8.10.0
npm version: 5.6.0
yarn version: 1.3.2
@google-cloud/bigtable version: master branch (0.13)

#### Steps to reproduce

[code]

[2018-04-24 17:44] pkriete commented on #79
We're also seeing this (our call is `table.deleteRows({ prefix: '...' });`). It rejects almost immediately, definitely does not hit the 60s timeout alluded to above. The prefix in question matches a single row.

[2018-04-24 21:45] kolodny opened #104 "Use client side timestamp when no timestamp is provided"
[Currently we default the `timestampMicros` to -1 when no value is provided](https://github.com/googleapis/nodejs-bigtable/blob/c2772b4837bf6b492b5a8b4fd56c7414acf5243a/src/mutation.js#L179). This can cause unexpected values when retries happen since rows that should have been inserted at the same time will have different timestamps.

Instead that line should change to `timestampMicros: timestamp

[2018-04-25 14:39] #97 closed

[2018-04-25 18:27] #84 closed

[2018-04-27 14:56] sduskis opened #107 "Create an Instance Sample"
There needs to be a sample in the `samples/` directory that manipulates instances.  Here's the list of requirements:

- [ ] Check to see if an instance named "ssd-instance" or "hdd-instance" exist, and delete them if they exists.
- [ ] Create a production instance with the name "ssd-instance" that has a single SSD cluster named "SSD Cluster" (id ssd-cluster) and print "created ssd-instance"
- [ ]

[2018-04-27 14:57] sduskis opened #108 "AppProfileID CRUD"
The instance admin API allows the creation of AppProfileIds.  We need to be able to access that functionality from instance.js.

[2018-04-27 15:00] sduskis commented on #107
See https://github.com/GoogleCloudPlatform/google-cloud-cpp/issues/456 for more information

[2018-04-27 16:24] sduskis commented on #107
Note: There should be a way to create a dev instance, but it doesn't look like that option is allowed in `Instance.createCluster`

Also, creating an instance assumes that there is only one Cluster and that the user will not want to set display name.  That has to change now that replication is available.

[2018-04-27 18:18] #104 closed

[2018-04-28 10:48] vijay-qlogic commented on #107
Working on it. A `instance.js` named file already exists in `samples`/ directory updating that to include all  sample code mentioned above.

[2018-04-30 19:28] #96 closed

[2018-05-01 17:55] sduskis commented on #79
@crwilcox: We updated our internal configuration, so can you please regenerate GAPIC?

[2018-05-02 12:26] sduskis commented on #107
It turns out that I didn't understand how node.js specific samples were written.  My spec was wrong.  I'm going to have to update the requirements.

[2018-05-02 16:55] vijay-qlogic commented on #107
Alright 'll update the PR as per updated specs.

[2018-05-03 14:39] sduskis opened #116 "Create a Table Admin Sample"
There needs to be a sample in the samples/ directory that manipulates tables. Here's the list of commands:

- **createTable [projectId] [instanceId]**
    - Creates a table named "my_table" with 1 column family "simpleFamily" that has a max versions of 1
- **checkTableExistence  [projectId] [instanceId]**
    - Does a list tables, and displays true if the table is in the list.
- **getTable [projec

[2018-05-03 16:19] sduskis opened #117 "Support labels on instances, and use PartialUpdateInstance"
Instances support a notion of "labels" (key value pairs meaningful to users, like "project" = "myProject" or "env" = "staging").  Create and update instance should have a labels options which is basically a map of {string, string}.

Also, instance.setMetadata should use "PartialUpdateInstance" instead of "UpdateInstance"

[2018-05-03 18:29] AVaksman opened #118 "Incorrect hyperlinks in documentation"
The following hyperlinks in parameter description are incorrect

| Page Address | Nonworking Hyperlinks |
| --------------- | -------------------------|
|[	createInstance(request, options, callback) returns Promise	](	https://cloud.google.com/nodejs/docs/reference/bigtable/0.13.x/v2.BigtableInstanceAdminClient#createInstance	)|	Hyperlink to Instance is 404	|
|[	getInstance(request, options, callba

[2018-05-03 18:57] AVaksman opened #119 "Comment missing or uses incorrect param"
The following functions either missing or use incorrect `@param`

| Page Address | Comment Discrepancy |
| --------------- | -------------------------|
|[	create(options,callback)	](	https://github.com/googleapis/nodejs-bigtable/blob/df980606728c31c9c0f18af8d40358747757184c/src/cluster.js#L132	)|	callback not in comment param	|
|[	get(gaxOptions,callback)	](	https://github.com/googleapis/nodejs-bi

[2018-05-03 19:04] sduskis commented on #118
@stephenplusplus: you are correct.

[2018-05-03 19:18] AVaksman commented on #118
I checked [index of all](https://cloud.google.com/nodejs/docs/reference/bigtable/0.13.x/index-all) page. And it looks like that all hyperlinks that start from word `_google_` (starting from **google.bigtable.admin.v2.AppProfile** untill **google.rpc.Status**) point to non existing pages.

[2018-05-03 20:13] sduskis commented on #117
Also, instance.setMetadata should use "PartialUpdateInstance" instead of "UpdateInstance"

[2018-05-03 21:59] sduskis commented on #79
@stephenplusplusm can you please see if the system tests run now that #120 is merged?

[2018-05-04 14:43] Turniii opened #122 "Can not read large row from Bigtable Stream"
Hello,

I am having an issue reading bigtable rows from stream.
My rows are constantly growing while I receive new data.
Now the size of some rows have exceeded the maximum authorized and I am getting the following error message:

Error: 8 RESOURCE_EXHAUSTED: Received message larger than max (4411510 vs. 4194304)

Is there a way to stream such messages ? I am using hashed keys and as I can not rec

[2018-05-04 15:13] sduskis commented on #122
This is a known problem.  You can do a couple of things to fix this:

1. You should set some kind of garbage collection policy on your table's column families.  You can do this either with the node.js client or with the cbt command line.  Here's the [getting started with cbt guide](https://cloud.google.com/bigtable/docs/quickstart-cbt).  Here's the docs on how to [set a gc policy using cbt](https:

[2018-05-04 15:43] kolodny commented on #79
It works for me now. I opened #123 to reenable the test

[2018-05-04 15:47] Turniii commented on #122
Yes I have read about compaction and I am using max version and max age but for this particular column family I need all cells values to make analysis. Is there a filter to get as much cells as possible and then get the rest in an other request

[2018-05-04 15:56] sduskis commented on #122
I did some more digging, and it looks like there's a [similar issue for writes](https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1755).  Node.js doesn't support a method to set the configuration.

@stephenplusplus, @alexander-fenster, @crwilcox: any ideas or confirmation of this problem would be appreciated.

[2018-05-04 16:00] sduskis commented on #122
The default grpc setting for max_message_length (the size of incoming messages) is 4MB.
 Our Java and Go clients override the default to 128MB to accommodate situations like this one.

[2018-05-04 16:45] crwilcox commented on #122
Hi @sduskis .
Do you have a big table instance that would repro this by chance? I am not super familiar with the node gRPC bits, but it would seem the constructor takes options, which is similar to python, and we may have the ability to change the defaults?

[code]

[2018-05-04 16:51] sduskis commented on #122
@crwilcox: repro cases are tough to build internally, but @Turniii has one. Is there a way for @Turniii to participate in this?  If not, I can ask one of our developers to try to repro.

[2018-05-06 12:18] vijay-qlogic opened #126 "Instance.js createCluster method sets location incorrectly"
The location property is not correctly framed as required in createCluster method.

Throws following error:

[2018-05-07 06:50] moander opened #128 "Filter on binary data"
I can write the buffer and retrieve it again using decode:false but I cannot figure out how to filter on the value.

[code]

#### Environment details

  - `@google-cloud/bigtable` version: 0.13.1

[2018-05-07 14:07] #79 closed

[2018-05-10 16:57] stephenplusplus commented on #122
I sent a PR in #132 that should fix this for users automatically.

@Turniii in the meantime, you can instantiate your Bigtable client like:

[code]

This will remove those limitations 👍

[2018-05-14 09:53] Turniii commented on #122
@sduskis sorry this instance contain personal data so I can not share it for testing.
@stephenplusplus Thank you I will try this way !

[2018-05-15 20:15] #122 closed

[2018-05-17 15:38] Turniii opened #135 "DEADLINE_EXCEEDED while inserting rows"
Hello,

I am replicating a BigTable Instance. My script insert new rows after making some changes to the data from the old version to the new one.
The problem is that after a lot of insertion, I am getting the following error :
[code]
Am I inserting too many rows at the same time, do I need to set a timeout after a certain amount of insertions ?

Environement:
NodeJs: 8.9.4
google-cloud/bigtable:

[2018-05-17 17:14] sduskis commented on #135
I suggest that you raise a support ticket to get a timely and accurate diagnosis and solution to this problem.

The Cloud Bigtable team would need your projectId and instanceId to debug this kind of problem, and that ought to come through a support ticket.  Replication adds another level of complexity that would need to be investigated.

[2018-05-17 21:26] sduskis opened #137 "name vs. id?"
There are two concepts for which the terms "id" and "name" are used:

1. **Unique Identifier**: A string that uniquely identifies a resource within some namespace.  Examples:  "my-project", "my-instance" or "my-table".
2. **Fully Qualified Identifier**: A fully qualified identifier that uniquely describes a resource which includes the full name space.  Examples: "/project/my-project",  "/project/m

[2018-05-18 12:53] stephenplusplus commented on #137
I'm okay to stick with what the proto file declares.

As a side note, "id" and "name" don't seem like the best tokens for distinct concepts :man_shrugging: In other libraries, I assume "id" to be the *complete* name (e.g. `projects/{project}/region/{region}/zones/{zone}/{my-server}`), and "name" to be the user-friendly portion (e.g. "my-server"). Since people usually remember names: "Hi, Solomon!"

[2018-05-18 12:55] stephenplusplus commented on #135
Given the above, I'll close this issue.

@sduskis could you direct @Turniii to the correct place to open a support ticket?

[2018-05-18 12:55] #135 closed

[2018-05-18 13:14] sduskis commented on #135
The Cloud console has a method of opening a support ticket.  I'm not sure how to do it myself.

[2018-05-18 13:31] sduskis commented on #137
@stephenplusplus: I agree that naming is hard.  If we make this change is going to be a breaking change.  We probably need to do that before Beta, and document the heck out of this change.

[2018-05-18 13:33] stephenplusplus commented on #137
What's the breaking part? Instance properties other than `metadata` are not meant to be accessed by a user.

[2018-05-18 14:27] sduskis commented on #98
The code fix: The explicit filter the user passes in has to be "chained" with the filter that results from the columns parameter.

The usage fix: ???  I don't know how to do this now.  I'm going to have to see if it's possible.

[2018-05-18 14:37] sduskis commented on #98
This should work for one column:

[code]
This should work for additional column/families

[code]

[2018-05-18 16:17] jabubake opened #138 "Add quickstart sample"

[2018-05-18 19:06] sduskis commented on #137
@stephenplusplus: I didn't know if this would be a breaking change.  If this is just an internal implementation detail or a public facing API.  If this is a public facing API, then we have to change this before a Beta launch.

@JustinBeckwith, FYI.

[2018-05-18 19:31] jabubake commented on #116
@vijay-qlogic @stephenplusplus (Sorry for the overlap in #139), We are moving to supporting minimal CLI commands (for these samples, since some of them are best showcased in sequence)
https://github.com/googleapis/nodejs-bigtable/pull/139/files#diff-09aca9530f1bfc5bd57e7988fc393745.

I'm happy to pull in your code to list tables in a project and the complex column family, so that this PR can be cl

[2018-05-23 14:24] rlucioni opened #147 "New patch release"
Is there any chance you could release an 0.13.2 that includes the changes from https://github.com/googleapis/nodejs-bigtable/pull/120 needed to fix https://github.com/googleapis/nodejs-bigtable/issues/79? Thank you!

[2018-05-23 16:53] Turniii opened #148 "v0.13 readStream don't fetch all rows"
Hello,

I have an issue with the read stream function.
I have used the cbt util to count the number of rows contained by a table. The result is 888,902 rows.
Now when I am trying to get the same result with node (google-cloud/bigtable@0.13.1), I get a different result, which is 629,444 rows.
I am using the following code:
[code]
After struggling a bit I decided to try an older version (10.2) for a

[2018-05-23 17:36] vijay-qlogic commented on #94
@kolodny
I could not find `toBuffer` method in `long.js` as available in `node-int64` and `int64-buffer`
Is there any to perform `toBuffer` using Long.js?
Or we shall use `int64-buffer`?

[2018-05-24 02:35] kolodny commented on #94
It has a `toBytesBE()` on the object which gives an array of bits. You can use `Buffer.from` to convert that to a buffer:

[code]

[2018-05-24 03:14] vijay-qlogic commented on #94
Okay, I tried methods a, b, c on same number but output differs for Long.js

<Buffer 8a c7 23 04 89 e8 00 00>

<Buffer 8a c7 23 04 89 e8 00 00>

<Buffer 7f ff ff ff ff ff ff ff>

[2018-05-24 13:48] kolodny commented on #94
I wouldn't worry too much about large numbers, all the options start having non senible values at that point

[code]

Anyone working with numbers that large should know that javascript can't even express numbers that massive `9999999999999999999 > Number.MAX_SAFE_INTEGER` so they should expect to do some manual buffer managing and/or pull in something like [substack/node-bigint](https://github.com

[2018-05-24 13:50] kolodny commented on #94
It's possible we can do something smarter once https://github.com/tc39/proposal-bigint makes its way into node, but until then we have to let the user figure this one out. It may be worth putting something in the docs if this becomes something that people are running into

[2018-05-24 16:57] vijay-qlogic commented on #94
Ok, got your point, I'll use Long.js and do the enhancement

[2018-05-24 17:45] Devi7005 opened #149 "Try to delete cells of a column family but don't work"
In my column family "tcolumn", I have these data for a row and I want to delete cell "tcell":
[code]
I try to do row.deleteCells(["tcolumn:tcell"]) but I still see my cell "tcell" in the data

#### Environment details
  - Node.js version: 8.9.4
  - npm version:
  - `@google-cloud/bigtable` version: 0.13.1

Thanks!

[2018-05-25 02:02] sduskis commented on #119
https://github.com/googleapis/nodejs-bigtable/blob/master/src/table.js#L208 should be options.rule instead of just rule.

[2018-05-25 13:54] #108 closed

[2018-05-25 16:11] kolodny commented on #148
Hi @Turniii thanks for reporting this bug.

I'm trying to reproduce this bug but I can't seem to get the same result you got. Below is the file I'm using. Let me know what I can change to get the same results you're experiencing, Thanks!

[code]

I always get `end, count: 1000000`

[2018-05-25 17:35] #98 closed

[2018-05-25 20:26] #126 closed

[2018-05-27 14:48] kolodny opened #151 "row.get() merges in stale columns"
nodejs-bigtable `v13.1`

When rehydrating a row, the deleted columns will still show up since we merge the old object with the new object

https://github.com/googleapis/nodejs-bigtable/blob/44a117212428587bf586e0c11e716182d871dec8/src/row.js#L733

Steps to repro

[code]

[2018-05-27 15:03] kolodny commented on #149
Hi @Devi7005 and thanks for the bug report. It looks like we have a bug where we merge in stale columns when calling `get()` on rows after they contain columns that shouldn't exists. I suspect that's whats happening in your use case. If it is, as a workaround until that issue is resolved I would suggest recreating the row object, and then calling `get()` on the new object. See below for a demonstr

[2018-05-28 12:32] Devi7005 commented on #149
Ok, I solve the problem by getting a row directly from table by his key like
`const [row] = table.row('my-key');
 await row.deleteCells(['tcolumn:tcell']);
`

But when I get a row from reader stream, deleting don't work:
`readerstream.on('data', row => {
   row.deleteCells(['tcolumn:tcell']); //don't work
 });
`

[2018-05-30 16:28] Devi7005 opened #155 "Deadline Exceeded when inserting to bigtable"
Hello, I try to insert a lot of rows in bigtable, and I got the following errors:
`Error: 4 DEADLINE_EXCEEDED: Deadline Exceeded`

I saw that there is a quota of 100,000 mutation by insert but I am packing my entries by batch of 1,000. Is there a link between this quota and the error I get ? Is this error due to the fact that I repeat this operation multiple times on the same instance ?

[code]

E

[2018-05-30 18:20] kolodny commented on #94
Fixed in #156

[2018-05-30 18:20] #94 closed

[2018-05-31 21:44] rlucioni commented on #147
The relevant changes are [included in 0.14.0](https://github.com/googleapis/nodejs-bigtable/compare/v0.13.1...v0.14.0). Thank you!

[2018-05-31 21:44] #147 closed

[2018-06-01 02:38] sduskis opened #157 "@example Comments should refer to sample code"
nodejs-bigtable has `@example` comments that include code.  This is error prone, since it's not compiled and may get obsolete.  Instead of inline code, all `@example`s should refer to a sample file and a tag within it.

nodejs-spanner has a great examples of this.  Here's one example ([link](https://github.com/googleapis/nodejs-spanner/blob/72efac10bcab961732cca234312908fa1b5bc3dd/src/batch-transa

[2018-06-01 20:36] sduskis commented on #86
This was fixed by #159 and #160

[2018-06-01 20:36] #86 closed

[2018-06-01 20:40] sduskis commented on #102
@kolodny: Does resolving this issue block beta?

[2018-06-01 20:44] sduskis commented on #103
@kolodny: is this bug actionable?

[2018-06-01 20:45] sduskis commented on #117
This will be fixed by #146

[2018-06-01 20:48] kolodny commented on #102
I don't think so, if a client suspects they'll need to use large numbers, they would set decode to false and do it by hand. We may want to make decode false by default but that may be a larger discussion

[2018-06-01 20:48] sduskis commented on #119
This was fixed by #136

[2018-06-01 20:48] #119 closed

[2018-06-01 20:49] kolodny commented on #103
This is actually fixed via #156

[2018-06-01 20:49] #103 closed

[2018-06-01 20:50] sduskis commented on #148
@Turniii: we cannot reproduce this issue.  Is there anything more information that might help us debug this?

[2018-06-01 20:51] sduskis commented on #148
@kolodny: let's review the retry logic one more time.

[2018-06-01 20:52] sduskis commented on #149
I'm going to suggest hat we remove `row.data`.  It's a backwards incompatible change, but I think that it's important to do before we hit beta.  We'll definitely need to document this change in our release notes

[2018-06-01 20:53] sduskis commented on #151
This is a duplicate of #149.  My vote is to remove `row.data` to eliminate this problem and push users towards "doing the right thing".

[2018-06-01 20:54] sduskis commented on #149
I'm going to close this in favor of #151.  I think that these are duplicates.  Please reopen if I misunderstood the nature of the problem.

[2018-06-01 20:54] #149 closed

[2018-06-01 20:57] sduskis commented on #155
`tableInstance.mutate` is an async API. calling it too many times will cause problems like `DEADLINE_EXCEEDED`.  You can do about 5 concurrent requests, but that's about it.

We do need to think about how to make high throughput writes easier to implement, but that requires some thought.  We will put effort into making that happen.  For now, I suggest finding your own mechanism of ensuring that yo

[2018-06-01 21:59] sduskis opened #163 "Users should be able to mix delete + insert for mutations"
The "easy" way to create mutations is to do either a set of inserts (aka SetCell) or a set of deletes (of columns or families).  Users should be allowed to create a combination of SetCell and deletes for a single row.

The implementation is in #161.  This is a backwards incompatible change only for those users that explicitly use `gaxOptions`.

[2018-06-05 20:28] #138 closed

[2018-06-06 21:13] sduskis commented on #155
We should also review the client-side deadlines for `MutateRows`

[2018-06-06 21:15] sduskis commented on #137
PR #169 is related to this issue.

[2018-06-07 03:53] JustinBeckwith commented on #155
@sduskis We try to have all P1's assigned - is there something taking a look at this?

[2018-06-07 11:51] moander commented on #102
I'm using msgpack as encoder/decoder. To be able to provide these methods to bigtable would be awesome.

[2018-06-07 15:19] sduskis commented on #116
This was fixed by #139

[2018-06-07 15:19] #116 closed

[2018-06-07 15:44] sduskis commented on #102
@moander: can you please clarify what you mean?

[2018-06-07 18:43] sduskis commented on #155
The basic problem here is that the node.js client is async, and the client assumes that the user will do its own "flow control".   When too many things are sent concurrently, odd behavior like deadline exceeded can happen.

I looked into extending our client-side timeouts form 1 minute to something higher.  My team pushed back on increasing the timeouts for cases like this, since increasing the de

[2018-06-07 18:43] #155 closed

[2018-06-07 18:59] moander commented on #102
@sduskis  I mean that suggestion 1 `Require the user to provide a encoder/decoder when instantiating Bigtable` by @kolodny  is a good fit for how I use nodejs-bigtable so I vote for that.

[2018-06-07 19:38] moander opened #171 "utf-8/encoding bug"
Please see my comments here https://github.com/googleapis/nodejs-bigtable/pull/129#pullrequestreview-118364984

Problem 1:
Binary values in key will get unexpected values using binary values in buffers.

Problem 2:
Binary value  filters will not return any matches

Problem 3:
TransformError from getRows after inserting unique keys 0xE6 and 0xF8

#### Environment details

  - OS: macOS 10.13.4
  -

[2018-06-07 19:52] moander commented on #171
I expected this to insert the same key twice because æ and ø both become 0xEFBFBD using the following code:

[code]

But instead I stumbled upon another problem. Running the repro code from the original post now outputs the following error even after uncommenting the mutation above.

[code]

[2018-06-07 20:05] moander commented on #171
I think I crashed my bigtable table.

Expected result is that both queries works, but the second one still fails after that one conflicting mutation.

[code]

[code]

[2018-06-07 20:17] sduskis commented on #171
I think that this is a client-side problem related to to the encoding issue.

[2018-06-07 20:40] moander commented on #171
Deleting the row solved the getRows problem

[code]

[2018-06-08 13:38] sduskis commented on #148
I don't think that there's anything active that we can do without a repro.  We tried a whole bunch of ways to reproduce this, but we couldn't.  @Turniii, I'm going to have to close this until we have a repro.

[2018-06-08 13:38] #148 closed

[2018-06-11 12:28] sduskis opened #176 "System tests need to delete all instances that are created"
Right now, the system tests will create instances without deleting them.  There needs to be some sort of safety check to make sure that the instances are cleaned up.  I have a couple of thoughts on this:

1. keep a running list of all instances that are created, and delete them in "after all"
2. add a "time-created" to all instances created via the system test, and then on "before all" read throug

[2018-06-11 17:44] #85 closed

[2018-06-11 17:55] kolodny opened #178 "node.js v6 cleanup"
This is just a checklist of items that should be done in a followup for #158

- [x] Remove `.js.` on the require calls. Double check with @ofrobots if we want to do this since Ryan lamented not being explicit with `require`s in his video
- [x] Remove any mention of `const self = this` by switching to arrow functions
- [x] Remove `string-format-obj` as a dep
- [x] Remove `create-error-class` as a d

[2018-06-11 19:00] ofrobots commented on #178
That ship 🛳 has long sailed :). Omitting the extension is now necessary to switch a project to typescript, so I have no objections 👍.

[2018-06-11 22:00] sduskis commented on #171
@kolodny, should we keep this as a P0?

[2018-06-12 15:33] #137 closed

[2018-06-12 17:17] #117 closed

[2018-06-12 20:59] #176 closed

[2018-06-12 21:01] sduskis commented on #163
This was fixed by #161.

[2018-06-12 21:01] #163 closed

[2018-06-13 02:12] kolodny commented on #171
Thanks @moander for this bug report.

After digging into it, I found that nodejs treats `binary` encoding as `latin1`, [in the docs for buffer it says](https://nodejs.org/api/buffer.html#buffer_buffers_and_character_encodings):

We can what's happening here manifesting in the following:

[code]

Combining this with the fact that rowKeys are auto-stringified from a buffer even with decode set to fa

[2018-06-13 02:15] kolodny opened #185 "Don't autostringify the rowKey when decode is false"
See https://github.com/googleapis/nodejs-bigtable/issues/171 for more context

The issue at hand is that the library aggressively converts the rowKey buffer to a string even when the user explicitly sets decode to false. This causes issues where the encoding scheme the user is using doesn't match the default scheme of utf8

[2018-06-13 02:15] kolodny commented on #185
/cc @moander

[2018-06-13 17:00] sduskis opened #189 "New errors for name / id checks in constructors"
Constructors will generally do things like this:

[code]

If `name.includes('/')`, we should check to make sure that we add the following check, and throw an error if this fails:
[code]

This logic (and test case) should be added for at least the following: instance, cluster, table, row, family.

[2018-06-13 19:54] sduskis commented on #178
@kolodny, is there more to come, or is this bug done?

[2018-06-13 20:00] sduskis commented on #171
@kolodny, are we done with this issue?  If so, can you please close it?

[2018-06-13 22:30] kolodny commented on #171
I'm gonna close this for now. @moander feel free to reopen if your issue isn't being addressed.

[2018-06-13 22:31] kolodny commented on #178
The only item left is to migrate the tests over to es6.

[2018-06-14 07:31] moander commented on #171
After updating package to master branch I get this error:

[code]

[2018-06-14 12:08] kolodny commented on #171
Change that line to

const bigtable = new require('@google-cloud/bigtable')(bigtableConfig());

On Thu, Jun 14, 2018, 3:31 AM Morten Andersen <notifications@github.com>
wrote:

[2018-06-14 13:59] moander commented on #171
@kolodny same error using `new require(..)`.

I had to do this:
[code]

The others work with `new require(..)` by some reason:
[code]

[2018-06-14 13:59] moander commented on #171
@kolodny filter repro returns same result from master branch

[code]

[2018-06-14 14:06] moander commented on #171
The problem where `table.getRows` stops working on a table is also still there.

The following code makes `getRows` (and presumably `createReadStream`) against the same table unusable:
[code]

[2018-06-14 14:17] moander commented on #171
I don't have access to re-open the issue

[2018-06-15 17:20] sduskis opened #196 "Replace {{projectId}} with actual project."
The nodejs-bigtable client uses {{projectId}} as a placeholder.  Ideally, we use `process.env.GOOGLE_CLOUD_PROJECT` or `process.env.GCLOUD_PROJECT` for our system tests, and otherwise force users to set projectId.

[2018-06-15 18:34] JustinBeckwith commented on #196
I'd like to understand more as well.  When you say it uses `{{projectId}}` - is that leaked to the customer?  Or is this an implementation detail?

[2018-06-15 18:50] stephenplusplus commented on #196
No, just an implementation detail. If the user doesn't explicitly provide a `projectId` parameter in the configuration object passed to the constructor (`new Storage({projectId: '...'})`), we default it to `{{projectId}}`. We do this, because some API calls require a user's project ID as part of the request object. For example, if it's supposed to be part of the path of a Compute resource, or some

[2018-06-15 19:03] JustinBeckwith commented on #196
If that's working today, I'm not sure why we'd change it 🤷‍♂️  @sduskis is this causing trouble?

[2018-06-15 21:06] #171 closed

[2018-06-15 21:42] sduskis commented on #196
I like the feature.  I guess my main objective is that the he project id ought to be immutable.  The problem with node, the projectId is resolved after the first RPC.  This causes some subtle problems relating to assumptions built into the client's constructors that need to be fixed.

```this.name = `${parent.name}/child-type/{this.id}`;```

This assumption breaks in for the child classes.  `paren

[2018-06-15 22:12] JustinBeckwith commented on #196
Hmmm.  The logic to get the project Id does need to remain async, due to the metadata server for adc and reading from the filesystem for cases where the user gives us a service account json.

And you can't have async code inside of the constructor (at least I don't think).

Can we defer the instantiation of the service objects until the async operation to load credentials is complete?

[2018-06-18 14:06] sduskis commented on #196
How about this: The `Bigtable` service object requires a `projectId`, and we provide an async method to construct a `Bigtable` object without the projectId.

[2018-06-18 14:27] stephenplusplus commented on #196
Yep, that's right.

Those could be made prettier if we provide the project ID to the Bigtable constructor [here](https://github.com/googleapis/nodejs-bigtable/blob/4b899497a06309a1dd5955f95f75d355d659bbaa/system-test/bigtable.js#L33).

I believe we have tried to keep the `name` and `id` properties out of documentation. In this case, it's a piece of information the user needs, since the name isn't

[2018-06-18 16:47] sduskis opened #199 "Samples should require a projectId, and only use "id""
All samples should explicitly include a projectId.

The [quickstart](https://github.com/googleapis/nodejs-bigtable/blob/master/README.md#quickstart), [Hello World](https://github.com/googleapis/nodejs-bigtable/blob/master/samples/hello-world/index.js), table admin, and instance admin should all explicitly require projectId instead of using the default from the keyfile.  The default projectId behav

[2018-06-18 16:58] sduskis commented on #196
@theacodes: FYI

[2018-06-19 12:49] sduskis commented on #196
+1 on `name` being private.  Still, there's plenty of issues trying to manage {{projectId}} properly.  We either build a more elaborate method of propagating the resolution of the projectId, or we force users to set projectId at startup.

I strongly prefer that we force users to set projectId at start up time, which would reduce complexity.

[2018-06-19 12:58] stephenplusplus commented on #196
What issues? We do this across all APIs. If there are issues, we should figure them out or change everywhere.

[2018-06-20 03:19] vijay-qlogic commented on #157
@sduskis Shall I start adding this `@example` comment? start with `src/instance.js` which has example code in `sample/instances.js`

[2018-06-20 12:18] sduskis commented on #196
I poked around a bit more, and perhaps the only issue is some impact on runtime performance.

[2018-06-21 04:09] vijay-qlogic commented on #157
@sduskis Currently `src/instance.js` has `@example` comments with multiple ways to call a method.
Like: using `callback`, `promise` (when callback is omitted)
And in `sample/instances.js` we have used `async/await`
Shall we update `sample/instances.js` to cover all these format? Or how we should go ahead?
your thoughts please...

[2018-06-21 07:20] moander commented on #185
I would argue that this is not a feature request but a bug fix that prevents users from breaking all reads to their table.

[2018-06-21 15:36] sduskis commented on #157
The `sample/instances.js` is meant to show basic situations.  If we need more options, then we probably need to create additional files somewhere.  Do unit tests or system test work well enough for this type of thing?

[2018-06-22 15:55] sduskis commented on #196
If users set a projectId, we shouldn't call the replaceToken method.  That would improve performance a bit.

[2018-06-25 16:42] #196 closed

[2018-06-25 17:36] #185 closed

[2018-06-25 22:07] JustinBeckwith opened #211 "Add synth.py and update google-gax"

[2018-06-26 11:38] moander opened #215 "TypeError: Class constructor Bigtable cannot be invoked without 'new'"
`nodejs-bigtable` does not behave like the other `@google-cloud` libraries

#### Environment details

  - `@google-cloud/bigtable` version: master branch (no error on 0.14.0)

#### Steps to reproduce

[code]

[2018-06-26 13:44] kolodny commented on #215
This is by design, you now need to create a Bigtable instance with the `new` keyword

See the discussion at https://github.com/googleapis/nodejs-bigtable/pull/158#discussion_r194210945

The other libraries were grandfathered into the optional new variant and have to do some [Proxy trickery](https://github.com/googleapis/nodejs-storage/issues/173#issuecomment-396789595) to make it work with ES clas

[2018-06-26 13:59] moander commented on #215
I am using the `new` keyword:

[code]

[2018-06-26 14:16] kolodny commented on #215
Ahh, got it, that just seems to be a js parsing oddity. The following works as expected:

[code]

[2018-06-26 16:22] moander commented on #215
Yes and that makes it stand out from all other `@google-cloud` i have in my project. It is the lack of continuity I wanted to report :)

[2018-06-26 17:12] kolodny commented on #215
Ahh, understood, reopened.

[2018-06-26 17:12] kolodny commented on #215
@JustinBeckwith Any thoughts on this?

[2018-06-26 17:16] JustinBeckwith commented on #215
I'm a little torn.  Adding the proxy trick does make this nice and easy.  @ofrobots since we need to have this for GA libraries anyway, what do you think of just supporting it everywhere?

[2018-06-26 17:22] ofrobots commented on #215
Consistency is good, at some level you have to become inconsistent. We cannot use the proxy trick for all classes as there is performance impact. I would be okay with doing _only_ at the top-level export of a module.

[2018-06-26 19:28] #211 closed

[2018-06-27 02:08] JustinBeckwith commented on #215
@kolodny doing this for the top level export would fix the issue, right?

[2018-06-28 16:50] #151 closed

[2018-06-28 18:09] danoscarmike opened #224 "Please cut new 'Beta' release"
- [x] quality checklist complete (sduskis)
- [x] README updated (sduskis)
- [x] cut release (stephenplusplus)
- [x] CI completes / publish package to npm (auto)
- [x] refresh API reference docs on cloud.google.com (danoscarmike)

[2018-06-28 18:09] danoscarmike commented on #224
Open PR for README: https://github.com/googleapis/nodejs-bigtable/pull/223

[2018-06-28 18:15] danoscarmike commented on #224
Adding @sduskis to co-ordinate on release notes

[2018-06-28 19:32] stephenplusplus commented on #224
@sduskis I'll send a PR that bumps the version to 0.15.0.

[2018-06-28 19:45] sduskis commented on #224
Does that change make a 0.15.0 build available in https://www.npmjs.com/?  Also, how do the docs get generated?

[2018-06-28 20:05] stephenplusplus commented on #224
After we merge that PR, we'll create a GitHub release (https://github.com/googleapis/nodejs-bigtable/releases/new), which will tag v0.15.0. That triggers a CI build, which ends by publishing to npm.

For docs, I'm honestly not sure about that flow -- @JustinBeckwith?

[2018-06-28 20:42] JustinBeckwith commented on #224
I have no idea either 😑 @alexander-fenster?

[2018-06-28 20:56] danoscarmike commented on #224
I can trigger the reference docs once the release is cut.

[2018-06-28 22:43] alexander-fenster commented on #224
@jmdobry usually took care of publishing the docs after the release is on npm.

[2018-06-29 11:44] kolodny commented on #215
Correct I'll send out a PR for this soon

I would wait off on https://github.com/googleapis/nodejs-bigtable/issues/224 until this is done

[2018-06-29 12:30] #215 closed

[2018-06-29 20:51] danoscarmike commented on #224
Reopening to track package release to NPM and regen of API reference docs.

[2018-06-29 20:55] stephenplusplus commented on #224
Sample tests are failing, which blocked the release :( https://circleci.com/gh/googleapis/nodejs-bigtable/6920

[2018-06-29 21:01] stephenplusplus commented on #224
@justinbeckwith I believe the error says the GCLOUD_PROJECT env var isn't set... did we stop doing that in the Circle config?

[2018-06-29 21:01] JustinBeckwith commented on #224
I don't think I changed anything there 🤷‍♂️   @alexander-fenster?

[2018-06-29 21:12] alexander-fenster commented on #224
We never used `PROJECT_ID` in samples. Whoever started using this variable, should have added it in CircleCI config.

![image](https://user-images.githubusercontent.com/4015807/42115090-79a6ade4-7ba6-11e8-9d83-f98d111e6ee5.png)

[2018-06-29 21:14] alexander-fenster commented on #224
Looks like it was introduced in #205 and was not reviewed by anyone in the team. Nightly testing failed (of course), but nobody cared (of course). So sad.

[2018-06-29 21:21] alexander-fenster commented on #224
I'm fixing it in #234.

[2018-06-29 21:35] alexander-fenster commented on #224
CI all green now. You can go ahead with releasing the new version.

[2018-06-29 21:41] sduskis commented on #224
@alexander-fenster, how can I get updates from the nightly test failures, or otherwise view the results?

[2018-06-29 22:01] alexander-fenster commented on #224
The publicly available dashboard is here: https://storage.googleapis.com/long-door-651.appspot.com/nightly/index.html

They all run in CircleCI so basically can be checked there (https://circleci.com/gh/googleapis/workflows/nodejs-bigtable/tree/master shows all workflows, those marked as `tests` are triggered by commits or tags, those marked as `nightly` are nightly builds). The same is true for a

[2018-06-29 23:08] stephenplusplus commented on #224
Re-released v0.15.0 to trigger CI to publish to npm. Follow along: https://circleci.com/workflow-run/abcf097b-5308-422e-a012-9cb44d9af705

[2018-06-29 23:48] stephenplusplus commented on #224
@danoscarmike I believe we're on the doc-updating step :)

[2018-07-02 04:00] danoscarmike commented on #224
Doc review complete. I'll submit on Monday morning.

[2018-07-11 18:44] sduskis commented on #224
Update: we (as in @danoscarmike and crew) are still working on docs.  There were some complications unrelated to Cloud Bigtable, which are actively being worked on.

[2018-07-11 20:31] danoscarmike commented on #224
Docs are now live: https://cloud.google.com/nodejs/docs/reference/bigtable/0.15.x/

[2018-07-11 20:31] #224 closed

[2018-07-13 15:37] sduskis commented on #189
This was fixed.

[2018-07-13 15:37] #189 closed

[2018-07-30 17:37] sduskis opened #260 "Add OpenCensus sample"
[OpenCensus](http://opencensus.io/) allows users to collect statistics and traces from the client and send them to some service like [Stackdriver](https://github.com/census-instrumentation/opencensus-node/tree/master/examples/grpc).

Cloud Bigtable should have an example that uses tracing and statistics with Stackdriver.

[2018-07-30 17:37] sduskis commented on #102
@kolodny, I'm going to close this.  Pleas reopen if this is still a concern.

[2018-07-30 17:37] sduskis commented on #178
@kolodny, I'm going to close this.  Pleas reopen if this is still a concern.

[2018-08-01 11:10] moander commented on #118
Not sure if this is related, but the Filter documentation is gone.

https://cloud.google.com/nodejs/docs/reference/bigtable/0.15.x/Filter
https://cloud.google.com/nodejs/docs/reference/bigtable/0.14.x/Filter

[2018-08-10 14:36] #178 closed

[2018-08-21 08:28] moander opened #278 "Cannot use 'prefix' and 'start' together"
When prefix and start is used as read options only prefix is considered.

Expected result is to get rows b2 and b3.

#### Environment details

  - `@google-cloud/bigtable` version: 0.15.0

#### Steps to reproduce

[code]

[2018-08-21 08:38] moander commented on #278
This is weird. If you instead try the repro code using this mutation it will give you this result:

[code]

[code]

[2018-08-22 08:29] moander commented on #278
@ajaaym that gives me the following error:
[code]

[2018-08-22 08:31] ajaaym commented on #278
Sorry there was a typo. Use end: ‘c’ instead of end: ‘b’.

[2018-08-22 08:36] moander commented on #278
That won't help because I don't know the end in my actual code. I only know the prefix and the start key.

[2018-08-22 11:09] ajaaym commented on #278
In that case you can use below.
[code]

[2018-08-24 13:04] moander commented on #128
Filtering on binary values containing invalid utf-8 does not work. I have tested this on version 0.15.0.

[code]

Actual result
[code]

Expected result
[code]

[2018-08-31 10:58] moander opened #291 "INVALID_ARGUMENT: Too many mutations: 120000 provided; limit 100000"
Hi,

When I do bulk mutations in parallel, 5000 in each bulk I get the following error:
[code]

It seems like grpc batches my requests together and that results in an too many mutations error.

I use 10 "threads" meaning I never post more than 50.000 mutations at the same time. Not sure where 120.000 comes from.

#### Environment details

  - `@google-cloud/bigtable` version: 0.15.0

[2018-08-31 15:34] sduskis commented on #291
A mutation is a "cell" not a row.  Do you have rows whose cell count add up to more than 100,000?

[2018-09-03 08:27] moander commented on #291
Oh I was not aware. Thank you @sduskis

[2018-09-03 08:27] #291 closed

[2018-09-04 17:46] DominicKramer opened #296 "The API document page for Filter does not exist"
The Filter documentation doesn't exist at [https://cloud.google.com/nodejs/docs/reference/bigtable/0.15.x/Filter](https://cloud.google.com/nodejs/docs/reference/bigtable/0.15.x/Filter).

In addition, Filter is not listed as a class on the main doc page at [https://cloud.google.com/nodejs/docs/reference/bigtable/0.15.x/](https://cloud.google.com/nodejs/docs/reference/bigtable/0.15.x/).

[2018-09-06 14:04] sduskis commented on #278
I like ajaaym's solution.  This also seems to work as intended.  I don't think that we'll be doing more on this issue, unless there's a clear way forwrard.

[2018-09-07 15:46] sduskis commented on #128
@kolodny, is this still active?

[2018-09-10 17:14] moander commented on #278
I disagree. The work around is fine but the implications here are huge.

Lets say you always use `prefix´, but only sometimes you use `start`. If the developer is not aware of this bug then he risks returning all the data from the table to the requestor.

[2018-09-12 17:08] DominicKramer opened #301 "grpc.load Deprecation warning displayed"
When using this library, the following warning is printed to standard out:
[code]

[2018-09-12 18:15] JustinBeckwith commented on #301
This is caused by gax-nodejs.  @alexander-fenster is actively working on a fix :)

[2018-09-12 22:12] sduskis commented on #278
Perhaps we can throw an exception if both are set.  WDYT?

[2018-09-17 16:30] sduskis commented on #278
@moander, why do you think this is a security issue?

[2018-09-17 16:31] sduskis commented on #278
For Cloud Bigtable clients, `prefix` and `start`/`end` are meant to be used independently.  The Node.js API doesn't make that clear.

[2018-09-28 12:31] raulvillora commented on #301
I am getting that warning, but I'm not sure if that warning is causing me the error display after:

Server is listening on port: 1337
(node:22126) DeprecationWarning: grpc.load: Use the @grpc/proto-loader module with grpc.loadPackageDefinition instead
events.js:183
      throw er; // Unhandled 'error' event
      ^

Error: listen EADDRINUSE :::1337
    at Object._errnoException (util.js:992:11)

[2018-09-28 12:34] raulvillora commented on #301
So I am not sure if the warning is causing me the error or they are different things, I mean one is a display warning and the other is an error not related to that warning.

[2018-09-28 12:49] raulvillora commented on #301
Now works. It was showing the port was already in used. I change the port and start the server again.

[2018-09-28 15:52] sduskis commented on #102
We can't figure out how to convert on a read from what ever a value is to a user's type for any given column family / qualifier, since Bigtable doesn't have type metadata.  We'll need an `coder.decode(row.data)`, which is easier for a user to do manually.

I don't see a clean way for this encoder to work at this point, so I'm going to close thise.

[2018-09-28 15:52] #102 closed

[2018-09-28 15:54] sduskis commented on #278
There are four conflicting conditions that need to be exclusive:

- a set of ranges
- start / end
- prefix
- prefixes

There needs to be an exception if more than one of those conditions exist in the options, since there's no intuitive way to evaluate 2+ conditions.

[2018-09-28 16:10] #91 closed

[2018-10-05 15:10] #157 closed

[2018-10-05 15:32] sduskis commented on #278
The exceptions were added in #315

[2018-10-05 15:32] #278 closed

[2018-10-08 15:37] sduskis commented on #296
This is a duplicate of #118

[2018-10-08 15:37] #296 closed

[2018-10-22 15:42] mgarolera opened #333 "Improve error messages"
Users were very confused by the following error message:

(using npm's "@google-cloud/bigtable": "^0.11.1":

{"code":504,"metadata":{"_internal_repr":{...}}}
Error: Error while reading table 'projects/.../instances/.../tables/...'
    at ClientReadableStream._emitStatusIfDone (/usr/src/app/node_modules/@google-cloud/bigtable/node_modules/grpc/src/client.js:255:19)
    at ClientReadableStream._rece

[2018-10-24 13:30] sduskis commented on #333
I think that we improved this in newer versions, once we started using GAPIC.  We'll have to check on that, tough.

[2018-10-25 16:12] dmmcerlean opened #343 "Empty column qualifiers should not be rejected"
Relevant code is here for reads: https://github.com/googleapis/nodejs-bigtable/blob/13e3d769/src/chunktransformer.js#L251

It's completely valid to use a column like "fam:" which has no qualifier

[2018-11-02 14:13] sduskis commented on #343
@muraliQlogic, can you please take a look?

[2018-11-06 15:07] sduskis commented on #343
@dmmcerlean "fam":"" is fine, but "fam":[null] is not ok.  I believe the if statement checks for "fam":[null] rather than "fam":"".  We should add a unit test to confirm that.

[2018-11-06 16:45] sduskis opened #354 "`lastRowKey` and `prevRowKey` in chunk transformer"
`ChunkTransformer` defines two variables that are used for the same function: `lastRowKey` and `revRowKey`.  There should be only one variable.  Also, that variable should not be changed in `reset()`.

[2018-11-06 18:42] muraliQlogic commented on #354
@sduskis  : i think there is a typo, you meant `prevRowKey`, right?

[2018-11-06 21:44] #354 closed

[2018-11-07 04:16] sduskis opened #356 "Lint is broken"
It looks like there were some recent lint changes.  We need to address new breakages

[2018-11-07 21:20] #356 closed

[2018-11-08 14:34] #343 closed

[2018-11-21 12:24] yoshi-automation opened #375 "Synthesis failed for nodejs-bigtable"
Hello! Autosynth couldn't regenerate nodejs-bigtable. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b5cd2d69-0831-4c9e-b2d1-9b102b29664f).

[2018-11-21 18:06] #375 closed

[2018-12-06 15:35] #118 closed

[2018-12-06 16:30] sduskis commented on #333
@stephenplusplus, do you know about 504 error code mapping?

[2018-12-06 16:50] JustinBeckwith commented on #301
This was fixed with the 1.0 release 😄

[2018-12-06 16:50] #301 closed

[2018-12-14 19:34] kinwa91 commented on #128
@moander this should be addressed in #129. Please re-open if you've verified and it is still not working as expected.

[2018-12-14 19:34] #128 closed

[2018-12-17 13:01] rochoa opened #394 "validateRowInProgress throws TransformError with decode: false"
#### Environment details

  - OS: macOS Sierra 10.12.6
  - Node.js version: v8.14.0
  - npm version: 6.4.1
  - `@google-cloud/bigtable` version: 1.0.0

#### Steps to reproduce

  1. Have a table with multiple cells in the same row
  2. Use `table.createReadStream` with `decode=false` option.
  3. You get a `TransformError: A commit is required between row keys (...)`.

Example:
[code]

As the key

[2019-01-20 04:45] zrosenbauer commented on #394
I took a look at this and I'm assuming its due to:

src/mutation.js:70
[code]
because (I could be misunderstanding the logic here, I didn't run it locally I just stepped through the code) `newRowKey !== row.key` will always be true because the buffer is being returned instead of the parsed buffer, i.e. a string.

To fix this:

[code]

I'd be happy to open a PR if this is on the right track.

[2019-01-21 12:06] rochoa commented on #394
I took a different approach, which is comparing the toString() value:
https://github.com/googleapis/nodejs-bigtable/blob/8b745f18593ead23950387a763134fc9859acc4d/src/chunktransformer.js#L235-L241

That way, you still validate that the keys are committed between row keys.

[2019-01-21 19:06] zrosenbauer commented on #394
@rochoa looking at this, is there the possibility row.key will be null? if so I can update my PR, add some guard rails on this to allow that check.

[2019-01-22 14:44] zrosenbauer commented on #394
If `row.key` is null or undefined and `row.key.toString()` is called, it will error. I'd like to believe running the check is still necessary (as its a validation method).

Yea that makes sense for the short circuit, but after looking at this more I feel like shortcircuiting this is undesirable because it seems this check, `validateRowInProgress `, is necessary. Removing this could cause more issu

[2019-01-23 09:54] rochoa commented on #394
My thinking was similar to this, that's why I went with the `row.key && newRowKey.toString() !== row.key.toString()` approach in my fork.

[2019-01-23 16:48] zrosenbauer commented on #394
Got ya, I think we're on the same page. In PR I opened (#403) that's what I did but I also added guard rails around `row.key` because if key is null or undefined, calling toString() will throw an error (If this is the desired behavior I think we should check that prior to running the validation and throw an error with a better message). When `this.reset` is called it resets `this.row = {}`. I see

[2019-01-24 22:20] sduskis commented on #394
@AVaksman, can you please take a look at this?

[2019-01-30 00:49] #394 closed

[2019-02-14 22:42] callmehiphop commented on #333
@sduskis The common-grpc lib mapped grpc codes to http codes, but gax does no such conversion. I think we should be able to safely close this out.

[2019-02-14 22:46] #333 closed

[2019-02-26 14:16] callmehiphop opened #425 "system-test failures"
Seeing some flakiness with CI system tests, I think maybe the normal system tests and the grpc-js system tests may be stomping on each other resources.

[code]

[2019-02-28 17:03] JustinBeckwith opened #427 "Convert library to TypeScript"
This needs to happen in steps:
- [x] Rename all the files to `*.ts` and introduce a compile step
- [x] Get the linter and formatter working
- [ ] Enable noImplicitAny and types for all src/ files
- [ ] Update the package.json to ship the types
- [ ] Enable noImplicitAny everywhere

[2019-03-07 04:22] JustinBeckwith commented on #427
@joecervino 👋 I think this is the last one :)  I did the initial setup and such!

[2019-03-07 15:09] joecervino commented on #427
@JustinBeckwith sounds good, ill get to it asap 👍

[2019-03-08 16:33] JustinBeckwith opened #435 "grpc-js system tests failing"
It looks like the grpc-js system tests are failing on master.  It's unclear if this is because of race conditions while running the system tests at the same time, or an underlying problem.
https://source.cloud.google.com/results/invocations/fac5dbee-a485-4930-93ee-6dced6a98114/targets

[2019-03-08 19:00] stephenplusplus commented on #435
Closing in favor of #425

[2019-03-08 19:00] #435 closed

[2019-03-08 19:40] #425 closed

[2019-03-22 15:06] joecervino opened #447 "Support GTS lint formatting"
`tslint.json` has the following rules overriding extended `gts` lint/formatting rules:
[code]

The goal is to, one by one file per file, reactivate these rules by refactoring the library to clear errors, leaving the following `tslint.json`:
[code]

Tracking:
- [ ] `only-arrow-functions`
- [ ] `no-any`
- [ ] `no-unused-expression`
- [ ] `switch-default`
- [ ] `variable-name`
- [ ] `ban`

Related to

[2019-04-12 17:21] JustinBeckwith commented on #427
lol

[2019-04-13 12:35] calibri87 commented on #301
@raulvillora when you say port numnber - how and where did you change this? was this in your functions package.json file?

[2019-06-28 11:25] mf2199 commented on #260
@sduskis The example link seems to be broken.

[2019-06-28 13:42] sduskis commented on #260
@mf2199, I updated the link

[2019-07-08 15:00] igorbernstein2 opened #506 "Cancelling a read row stream doesn't cancel the underlying grpc stream"
This is copied from a stackoverflow question:

https://stackoverflow.com/questions/56918799/how-to-manually-end-stream-created-by-tablecreatereadstream

[code]

Output is:
[code]

But the process is not yet finished. So, i believe that some resources are not closed. How should i stop stream and close relevant resources?

[2019-07-08 15:15] stephenplusplus commented on #506
Thanks for reposting. I'll take a look into this.

[2019-07-08 20:20] stephenplusplus commented on #506
I put together a gist to try to reproduce: https://gist.github.com/stephenplusplus/a4e158c3d625f0cd08c0af77937e79c0.

So far, it seems to be working as intended; exiting the process after the stream is ended. Hopefully the StackOverflow author will visit here to clarify.

[2019-07-09 02:43] McMerph commented on #506
Hello, i am the author of the StackOverflow question.

Provided gist use table with 50 rows.
I created a new table and inserted 50 rows into it.
Then i measured the time between `table.createReadStream()` and process exit. It was: 289.20 ms
Then i increased number of rows: 50 -> 100 * 1000. Time is: 45321.38 ms
So, it seems that more than one row is processed, although `stream.end()` has been call

[2019-07-09 02:50] stephenplusplus commented on #506
It is definitely not intended, and thank you for making the change to highlight the issue. I'll keep looking into it and keep you posted.

[2019-07-09 17:02] stephenplusplus commented on #506
I updated the test with your changes, but couldn't see the problem appear yet. Could you make any more required changes?

Gist: https://gist.github.com/stephenplusplus/a4e158c3d625f0cd08c0af77937e79c0

My output:

[code]

The process then exited.

The whole test takes longer due to the increase in rows being inserted, but the stream calls themselves don't seem to be affected.

[2019-07-09 17:49] igorbernstein2 commented on #506
@stephenplusplus can you try increasing row size? The current workload will only generate 1 or 2 ReadRowsResponse messages so the additional processing after close might not be evident. Updating the dataset so that a full scan would yield a gigabyte and aborting so that only a few bytes are processed should make this more evident.

[2019-07-09 19:01] McMerph commented on #506
Your log end event of stream instead of process exit.

To reproduce issue:
Comment line 38 (remove test resources manually after test).
Add `process.on('exit', () => { console.log(Date.now()); });`
Then run with 50 and 100 * 1000 rows (line 15) and measure execution time.

[2019-07-09 20:30] McMerph commented on #506
@igorbernstein2 I don't think than there is a need to increase row size. In fact, i tested it with smaller key size but with different values for keys.

[2019-07-09 20:31] McMerph commented on #506
I created my version of test to not wait for table creation on each run: https://gist.github.com/McMerph/b887b4bfbbb94b2a30c14c73accd6003
There should be a huge difference in execution times of `test-small` and `test-big`.
For me it was 3643.92 ms vs 37068.58 ms.

[2019-07-09 20:58] stephenplusplus commented on #506
Thank you! I was able to reproduce the issue using your gist. I have a fix in the works, which involves cancelling the underlying request stream when the user ends the stream.

[2019-07-10 19:41] stephenplusplus commented on #506
I sent a PR in #507.

[2019-07-17 06:32] mkls opened #508 "Calling any methods logs warning on the console in version 2.0.1"
#### Environment details

  - OS: macOS
  - Node.js version: v10.11.0
  - npm version: 6.5.0
  - `@google-cloud/bigtable` version: 2.0.1

#### Steps to reproduce

  1. Instantiate BigTable
  2. Call any method that uses grpc underneath
  3. Logs warning to the console:

[code]

Looks like it caused by the `'grpc.max_send_message_length': -1` and       `'grpc.max_receive_message_length': -1` defaul

[2019-07-29 21:02] AVaksman commented on #508
++@murgatroid99

[2019-07-30 06:21] murgatroid99 commented on #508
This is a result of switching to the `@grpc/grpc-js` implementation. That library currently does not have size checks implemented, so it does not handle those channel options. Fortunately, in this particular case that means that the default behavior is the same as the option value this library is trying to set.

[2019-07-31 19:55] #506 closed

[2019-07-31 20:24] JustinBeckwith commented on #447
This is in good shape

[2019-07-31 20:24] #447 closed

[2019-07-31 20:24] #427 closed

[2019-08-02 20:29] csidell-earny opened #526 "Emit typescript types on build"
**Is your feature request related to a problem? Please describe.**
While using this library there is absolutely 0 typing information available on import. There is a constant need to have the docs open or div into the source code itself to be able to use this library.

Most of the code is written in typescript why wouldn't types be emitted?

 **Describe the solution you'd like**
Typescript definiti

[2019-08-02 21:04] csidell-earny commented on #526
After importing the types it also seems that they're incorrect.

[2019-08-02 21:08] csidell-earny commented on #526
Thought it'd be simple fixes but this library seems like it's dynamically created and promisified, will need more work to get definitions working correctly.

[2019-08-05 16:27] #508 closed

[2019-08-05 20:35] #526 closed

[2019-09-23 19:11] webercoder opened #544 "Emit typescript types on build (follow-up to 526)"
**Is your feature request related to a problem? Please describe.**

#527 was meant to emit types in the build, but I'm having trouble locating them in the latest npm packages.

 **Describe the solution you'd like**

Emit typescript types on the build.

 **Describe alternatives you've considered**

Building our own types file.

 **Additional context**

Related:
* #526
* #527

[2019-09-25 15:27] #544 closed

[2019-10-11 17:41] igorbernstein2 opened #555 "row.exists() promise is never resolved for the emulator"
#### Environment details

  - OS: Mac OS X 10.14.6
  - Node.js version: v12.11.1
  - npm version: 6.11.3
  - `@google-cloud/bigtable` version: 2.1.0

#### Steps to reproduce

  1. gcloud beta emulators bigtable start &
  2. $(gcloud beta emulators bigtable env-init )
  3. npm install @google-cloud/bigtable
  4. The script below:

[code]
The log line `this is never seen!` is never printed. However

[2019-10-14 17:51] bcoe commented on #555
@igorbernstein2 thank you for the bug report.

[2019-10-15 18:34] bcoe opened #556 "remove common-grpc logic that could be pulled in to gax"
This is a follow up to @alexander-fenster's comments:

https://github.com/googleapis/nodejs-bigtable/pull/554/files#r333816049, and
https://github.com/googleapis/nodejs-bigtable/pull/554/files#r333816370

On #554, I suggested that we pull in logic identical to `@google-cloud/common-grpc`, but work towards refactoring this out in future PRs (perhaps pulling more of the logic into `gax`).

[2019-10-15 23:11] daneshka opened #557 "Supporting KeyOnlyFilter"
Based on [this doc](https://cloud.google.com/bigtable/docs/hbase-differences) KeyOnlyFilter is supported in bigtable and I can also see [Java samples](https://github.com/googleapis/googleapis/blob/master/google/bigtable/admin/v2/bigtable_table_admin.proto)
But I can't find it in the nodejs library/document.
It would be great to have this filter in the nodejs library as well.

[2019-10-21 22:48] crwilcox commented on #557
The hello world sample for Node.js at https://cloud.google.com/bigtable/docs/samples-nodejs-hello#creating-filter shows how to use filters. Is this what you are looking for?

[2019-10-22 00:08] daneshka commented on #557
I tried filters but in my case, I just want to get the key.
When I exclude all of the columns by filters, it returns nothing.
I'm not sure is there any other way to get the key only by a filter.

[2019-10-22 20:34] callmehiphop commented on #557
I'm definitely not a Bigtable expert, but it doesn't look like they offer that filter in the actual Bigtable API. My best guess would be to use the `strip_value_transformer` filter and just map the row keys.

[code]

[2019-10-23 20:04] daneshka commented on #557
Thank you @callmehiphop
That's what I was looking for.

[2019-10-23 20:10] #557 closed

[2019-10-23 20:26] callmehiphop commented on #557
@daneshka awesome, glad I could help!

[2019-10-24 18:23] wyardley opened #560 "Issue installing on Node 8.12.0"
## Environment details

  - OS: Linux
  - Node.js version: v8.12.0
  - npm version: 6.4.1
  - `@google-cloud/bigtable` version: 2.2.1

#### Steps to reproduce

  1. Install `@google-cloud/bigtable@2`
  2. Run a test that imports the library. Error given is:
[code]

The breaking change mentioned in the changelog (https://github.com/googleapis/nodejs-bigtable/blob/master/CHANGELOG.md#-breaking-chang

[2019-10-24 22:09] stephenplusplus commented on #555
I'm still investigating, but it looks like if you explicitly provide a project ID, it behaves as expected:

[code]

[2019-10-29 01:17] bcoe commented on #560
@wyardley sorry about this confusion, I think we should update our engines field accordingly. `@grpc/grpc-js` is a critical dependency, and it sounds like we should instead indicate that `8.13.0` is our minimum required version of Node.

[2019-10-29 12:16] stephenplusplus commented on #560
@bcoe should we kick off a super-PR to update that across the repos?

[2019-11-04 10:11] rjmasikome commented on #555
I have tried to test this further with 4 different node version and 2 different bigtable version, however the workaround did not work. The console.log below is never really seen, and the program just exited from there. Note: Using client version `1.0.1` works.

Here's the snippet that I used
[code]

For more context here is the environment that I used
  - OS: MacOS Mojave
  - Node.js version: 10.1

[2019-11-07 23:47] lukasschwab opened #564 "getInstances type is incorrect: returns a Promise when callback is unspecified"
#### Environment details

  - OS: macOS 10.14
  - Node.js version: v12.12.0
  - npm version: 6.11.3
  - `@google-cloud/bigtable` version: 2.2.1

#### Steps to reproduce

I have code that calls `getInstances` without defining a callback:

[code]

`getInstances` behaves according to its docstring:

...but this behavior is not reflected in its generated type, which has return type `void` and no overl

[2019-11-08 23:15] jkwlui commented on #564
We need to annotate this client like the way we do with other TypeScript libraries.

[2019-11-09 00:59] lukasschwab commented on #564
@jkwlui can you link one of the annotated libraries/documentation for the annotation style? I'd be happy to give it a shot this weekend.

[2019-11-09 03:37] frankyn opened #566 "Snippets are missing from API reference docs."
@bcoe created a new plugin jsdoc-region-tag.

Snippets are missing from API reference docs and was surfaced by @billyjacobson.

[2019-11-10 19:12] bcoe commented on #566
we will get `jsdoc-region-tag` tested on some libraries next week, I'll also work on an Ariane launch for it.

[2019-11-11 16:58] billyjacobson commented on #566
Thanks for helping out with this guys :)

[2019-11-11 23:34] #566 closed

[2019-11-12 17:29] bcoe opened #574 "examples include HTML which jsdoc does not render"
I noticed while QAing some of our other doc fixes, that there are a few places where we optimistically include HTML in our example content, even though this isn't supported by our current JSDoc template:

https://googleapis.dev/nodejs/bigtable/latest/Bigtable.html#Bigtable-examples

It would be good to fix this up:

CC: @frankyn, @billyjacobson

[2019-11-12 19:38] david-cannady opened #575 "One-off issue in conversion of INT64 to number"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2019-11-12 20:01] stephenplusplus commented on #575
Nice find! Thank you! Feel free to take a shot at a pull request, otherwise we should have this taken care of soon. Thanks again for pointing this out!

[2019-11-12 23:26] frankyn commented on #574
Billy hit this during review, and I did as well for Storage. Thanks for filing an issue for it.
It might be an issue across libraries.

[2019-11-13 19:43] callmehiphop commented on #574
@bcoe this is leftover from our original docs solution. The `//-` token was actually meant to indicate we've come to a new sample. I've been updating these to use `@example` and `<caption>` when I come across them, but we might want to open an issue to make that fix across the board.

[2019-11-14 19:56] bcoe commented on #574
@callmehiphop @frankyn should we extend the plugin to support this additional syntax, or do we think moving away from using the custom approach is better?

[2019-11-14 20:01] callmehiphop commented on #574
@bcoe I think creating a JSDoc plugin *might* be better, just because it would require less effort and fix this issue across all our veneers libraries.

I like `@example <caption>` but as it is we have to write the entire caption on a single line, which is not great for examples that require a lengthy writeup.

/cc @stephenplusplus because I bet you have some thoughts here!

[2019-11-14 20:01] frankyn commented on #574
I have questions:
1. Would it make sense to split off additional samples into their own file instead of directly adding them into jsdoc documentation?
2. IIUC,  `@example/<caption>` is the canonical expectation for jsdoc when multiple examples are present. Right now they aren't being displayed correctly, but that's not due to the plugin. Is this something that can be fixed without adding customer

[2019-11-14 23:28] kolea2 opened #581 "Implement table level IAM policy"

[2019-11-15 17:04] crwilcox commented on #581
Java Implementation: https://github.com/googleapis/google-cloud-java/pull/6293

[2019-11-15 23:52] #575 closed

[2019-11-19 12:23] kolea2 commented on #581
One note - `testIamPermission` should be `testIamPermissions` https://github.com/googleapis/google-cloud-java/pull/6293/files#diff-323cc5589a85618a42238a082db06902R1012

[2019-11-22 16:25] stephenplusplus commented on #560
@bcoe I forget if we had a reason to wait on this. Should we do the super PR?

[2019-11-22 16:33] stephenplusplus commented on #574
I think this is a pro/con story, where pro: organized, testable, and con: separate from code (more hurdles for simple contributions), more work than necessary (? some of these are just a quick "here's how you pass *this* option")

The `@example/<caption>` syntax is not ideal because:
[code]

([source](https://github.com/googleapis/nodejs-storage/blob/b1c05b27029215c8bc313a8f4f16ff13d5af2391/src/bu

[2019-11-22 19:28] bcoe commented on #574
@stephenplusplus @callmehiphop @frankyn, I found a bunch of examples of this behavior in `@google-cloud/storage`, and the problem was just that `jsdoc` required that the example was one line after `</caption>` in the docstring.

[2019-11-22 19:46] stephenplusplus commented on #560
Status: We are going to check back up on this in early December.

[2019-11-22 21:41] callmehiphop commented on #564
@JustinBeckwith @jkwlui looks like we're missing types across the board for the entire client. Is this something that is being prioritize? There isn't an open issue or anything, but I'd be happy to try and take this if some one isn't already.

[2019-11-25 16:15] AVaksman commented on #581
This feature allows the user to specify access privileges/permissions on the resource (`instance`, `table`) level.

[2019-11-25 21:53] bcoe commented on #564
@callmehiphop could we leverage @alexander-fenster's work to auto-generate types with the new micro-generator?

[2019-11-26 18:48] billyjacobson opened #587 "Unable to write multiple values to a cell at different timestamps atomically"
I was trying to write multiple values to a cell at different timestamps, but discovered I couldn't do this in a single [atomic operation](https://cloud.google.com/bigtable/docs/reference/data/rpc/google.bigtable.v2#bigtable).

The code would look like this:

[code]

But, under cell_plan, I can't have two object keys with the same name here ( data_plan_01gb.) To get this to work, I can add another

[2019-11-26 18:52] callmehiphop commented on #564
@bcoe it would help in some aspects like having request/response types mapped out for us.

[2019-11-26 19:17] #581 closed

[2019-11-27 22:40] xiaowei-routific commented on #564
We are currently adopting bigtable right now and having the same problem.  We have a thin layer of wrapper of our own right now and really hope that this could be prioritized

[2019-12-04 22:08] #564 closed

[2020-01-30 09:18] cpt-corvus opened #607 "createReadStream didn't returns all data when stream is pause and resumed"
Hello,

I have an issue regarding createReadStream method in nodejs bigtable client, in may situation I need to have a way to get only one item from the stream and do some process on it then get the next and so on, and I  don't want to store all the data in memory, and bigtable client in nodejs didn't provide any thing to do it, I use the createReadStream and pause the stream once I get an Item/Ro

[2020-01-30 14:04] stephenplusplus commented on #607
Hello! Here's what I've tried that works as expected:

[code]

The built-in Transform stream seems perfectly suited to what you're after. Let me know if this will work for you.

[2020-01-31 02:07] jschmidt-metacx opened #608 "row.exists doesn't limit cell versions, can cause out of memory exceptions"
Please run down the following list and make sure you've tried the usual "quick fixes":

  - [x] Search the issues already opened: https://github.com/googleapis/nodejs-bigtable/issues
  - [x] Search the issues on our "catch-all" repository: https://github.com/googleapis/google-cloud-node
  - [x] Search StackOverflow: http://stackoverflow.com/questions/tagged/google-cloud-platform+node.js

If you ar

[2020-02-02 07:44] cpt-corvus commented on #607
Hello
This might be helpful, I will try to use it and let you know if it works

What I want is to do the same behavior as the iterator in Java that's why I wrote the mentioned class

[2020-02-03 15:46] cpt-corvus commented on #607
Hello

@stephenplusplus, I tried what we told me and I tried multiple ways including (pipe/unpine, cork/uncork and pause/resume) and I still didn't successfully able to pause and resume the stream and get the correct data
What I am try to Implement is *iterator* and when I want the row I will call function next (this behavior already implemented in java API for bigtable), so I need the item to be

[2020-02-03 20:03] bcoe commented on #608
thanks for the bug report @jschmidt-metacx :ok_hand:

[2020-02-03 20:40] igorbernstein2 commented on #608
This can be optimized setting `rows_limit = 1` and by chaining the filters: `strip_value_transformer: true` and `cells_per_row_limit_filter: 1`

[2020-02-04 14:47] cpt-corvus opened #612 "The stream returned by createReadStream method didn't emit 'end' or any event if the table is empty or there is no data available for the query"
Hello,

The stream returned by createReadStream method in bigtable nodejs client didn't emit 'end' or any event if there is no data in the table matches the used query.

Environment details
OS: Ubuntu 19.10
Node.js version: 10.15.2
npm version: 6.12.0
@google-cloud/bigtable version: 2.3.1
I also use bigtable emulator

Steps to reproduce
1. Use createReadStream to create stream for a query that the

[2020-02-07 14:48] vparchas commented on #607
I am facing the same issue with the results being inconsistent. Most of the times the rows retrieved match the expected rows, but critically not always and not for all the streams that are running at the time.
I have tried pull / push variations of the stream, as well as simple pull only (readable) stream implementation, all with the same results.
Not sure if this is related but it happens when re

[2020-02-20 15:35] stephenplusplus commented on #612
Both #555 and this issue use the Bigtable emulator, which is the only environment for this condition. I have successfully reproduced, and the biggest problem is that there is not a "response" event when using the emulator. The underlying library we use to handle automatically retrying failed requests, `retry-request`, relies on that initial response event to determine how to proceed-- should it re

[2020-02-21 09:25] laljikanjareeya commented on #607
@stephenplusplus Here is log based on above snippet given by you with timeout of 1 ms.
Execution Time is in `mm:ss` format.

**With Emulator :**
**With 50k Records**
**Attempt-1**
Total Rows Received: **49378**
Execution Time: 01:5.792

**Attempt-2**
Total Rows Received: **49378**
Execution Time: 01:7.204

**Attempt-3**
Total Rows Received: **49378**
Execution Time: 01:7.769

**With 100k Records**

[2020-03-09 14:51] jgehrcke commented on #564
Can we do the same for `createInstance` and other entry points?

[2020-03-09 14:52] jgehrcke opened #634 "type annotation for createInstance() not prepared for lacking callback"
This is analogous to https://github.com/googleapis/nodejs-bigtable/issues/564 which describes the same problem for `getInstances()`.

[2020-03-09 22:21] xiaozhenliu-gg5 opened #635 "enable "noImplicitAny" check in tsconfig.json"
Clean up synth.py.
we don't wanna exclude `tsconfig.json` in generated client library.
reference: #https://github.com/googleapis/nodejs-bigtable/pull/631

[2020-03-09 22:24] xiaozhenliu-gg5 opened #636 "enable tslint.json rules"
Clean up synth.py.
reference: ##631
Ideally we should only have below as `tslint.json` as generated from Microgenerator.
[code]

[2020-03-12 12:36] jgehrcke opened #639 "Cannot import Instance type"
#### Environment details

  - `@google-cloud/bigtable` version: 2.3.2

#### Steps to reproduce

[code]

gives an error, because `Instance` is not exported by the module.

I'd love to import `Instance` so that I can use it in type signatures (we're using Typescript).

[2020-03-12 14:34] jgehrcke opened #640 "docs mention cluster option "name", must be "id""
Example code in the docs (such as [here](https://googleapis.dev/nodejs/bigtable/2.3.1/Instance.html#create-examples)) suggests setting a `name` property in a cluster options object. That's wrong, should be `id`. Otherwise the library tries to create a cluster with id `"undefined"` which I think is also fishy.

[2020-03-17 19:19] build-cop-bot[bot] opened #644 "Mocha Tests: should list zones failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

buildID: 726f7facb1b3bf4f64c07cce41fe8c93fcd9621c
buildURL: [Build Status](https://source.cloud.google.com/results/invocatio

[2020-03-17 19:19] build-cop-bot[bot] opened #645 "Mocha Tests: "after all" hook for "should list zones" failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

buildID: 726f7facb1b3bf4f64c07cce41fe8c93fcd9621c
buildURL: [Build Status](https://source.cloud.google.com/results/invocatio

[2020-03-18 04:38] #640 closed

[2020-03-18 14:49] stephenplusplus commented on #645
@laljikanjareeya could you take a look? The error seems related to #640/#641

[code]

[2020-03-19 10:50] laljikanjareeya opened #652 "id save as undefined if not provided in createInstance should throw an error"
#### Environment details

  - OS: any
  - Node.js version: any
  - npm version: any
  - `@google-cloud/bigtable` version: any

#### Steps to reproduce
[code]

[2020-03-19 11:09] laljikanjareeya commented on #645
@stephenplusplus This issue has been fix in [642](https://github.com/googleapis/nodejs-bigtable/pull/642) PR.
Before the fix `id` of `cluster` has been save as `undefined` every time.

Just created another issue [652](https://github.com/googleapis/nodejs-bigtable/issues/652) if `id` not provided in cluster it throw an error instead saving as `undefined`.

[2020-03-19 14:05] stephenplusplus commented on #645
Ah, I see. So is this issue out of date?

[2020-03-19 14:10] laljikanjareeya commented on #645
Yes

[2020-03-19 21:44] build-cop-bot[bot] opened #656 "Mocha Tests: "before all" hook for "should filter with row sample" failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 4910e779fb8168f6e6a7d76bf1a444c793aa7682
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-03-19 21:44] build-cop-bot[bot] opened #657 "Mocha Tests: "before all" hook for "should read one row" failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 4910e779fb8168f6e6a7d76bf1a444c793aa7682
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-03-19 21:44] build-cop-bot[bot] opened #658 "Mocha Tests: "before all" hook for "should do a simple write" failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 4910e779fb8168f6e6a7d76bf1a444c793aa7682
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-03-20 08:32] laljikanjareeya opened #659 "Clusters of the instance is no longer in use after deleting the instance."
**This is an open Discussion:**

`instance.delete` is only delete the instance, clusters are remain as it is but, [document](https://cloud.google.com/bigtable/docs/deleting-instance)  say deleting instance will permanently delete the instance's clusters.

while creating instance with same cluster it throws error:
[code]

Currently there is no way to delete the cluster.

**Before Deleting the Insta

[2020-03-20 14:58] AVaksman commented on #659
@laljikanjareeya thanks for reporting it.
I believe the root cause might be in the fact that deleting an instance is eventually consistent.
Especially when instances with up to 4 clusters in different replication state may be involved.

[2020-03-21 11:11] #656 closed

[2020-03-21 11:11] #657 closed

[2020-03-21 11:11] #658 closed

[2020-03-23 10:12] laljikanjareeya commented on #634
Fixed by #650

[2020-03-23 10:12] #634 closed

[2020-03-23 12:32] #652 closed

[2020-03-30 17:21] #608 closed

[2020-04-02 16:36] #644 closed

[2020-04-02 20:06] build-cop-bot[bot] opened #685 "Mocha Tests: should filter with timestamp range failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: b0a7aa8ff93b7d359cd728d240af1203aee2ffc2
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-04-02 22:15] build-cop-bot[bot] opened #686 "Mocha Tests: "before all" hook in "Bigtable" failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 5a7d66f061ae20e9e763d3477c38ee845f06fac7
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-04-02 22:17] #685 closed

[2020-04-03 04:02] JustinBeckwith commented on #686
I'm about 74% sure I fixed this in #687

[2020-04-03 04:02] #686 closed

[2020-04-03 04:03] JustinBeckwith commented on #645
I'm 14% sure this isn't really a problem.

[2020-04-03 04:03] #645 closed

[2020-04-03 04:03] JustinBeckwith commented on #636
This is fixed, just in time for us to delete `tslint.json`!

[2020-04-03 04:03] #636 closed

[2020-04-03 04:04] JustinBeckwith commented on #635
Yup that's a thing I did!

[2020-04-03 04:04] #635 closed

[2020-04-03 04:04] JustinBeckwith commented on #560
About to drop support for 8 all together, so I guess it kind of took care of itself

[2020-04-03 04:04] #560 closed

[2020-04-03 04:05] JustinBeckwith commented on #260
This isn't something we plan to do anytime soon, so I'm just closing this out.

[2020-04-03 04:05] #260 closed

[2020-04-03 21:55] #639 closed

[2020-04-04 01:57] JustinBeckwith commented on #574
In #689 I fixed a lot of the mechanical problems we were running into, and it's a lot better now. However - there are still URLs inside of the `@example` bodies in several places, that don't get rendered properly.  I honestly don't know how/if this can be fixed to be honest.  For example:

![image](https://user-images.githubusercontent.com/534619/78416230-61a9e300-75dc-11ea-8f05-431c18986e0b.png)

[2020-04-11 13:54] omrib15 opened #700 "Overwriting row cell data"
Hey, I'm trying to update an existing row's data. I'm using table's insert method with a new row object that has the same key as an existing row. This doesn't overwrite, but adds another row under the same key.

What's the best way to overwrite existing rows? I don't want to delete the old row first and then insert the new row, since this will slow the entire process.

[2020-04-15 17:26] crwilcox opened #708 "Refactor streaming of table rows and remove through2 dependency"
The code for table.ts is a bit complicated and can likely be streamlined. In order to retry, we nest two streams.

It is likely worth removing the two instances of through and subclassing stream. This should help to shutdown on termination and not attempt writes past that point.

This also will remove dependencies on `through2` and `readable-stream`

[2020-05-13 12:48] yoshi-automation opened #730 "Synthesis failed for nodejs-bigtable"
Hello! Autosynth couldn't regenerate nodejs-bigtable. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/24b91e22-5723-4d3d-ad6a-192d8c1a7079).

[2020-05-14 13:37] yoshi-automation commented on #730
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ea51e8ba-def4-460f-9acd-a09a559fce5d).

[2020-05-14 23:13] yoshi-automation commented on #730
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/30e633c5-055b-437c-9be8-8b2a9ed80d0d).

[2020-05-15 01:23] yoshi-automation commented on #730
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ab56f2e1-d6ee-423b-92fe-ef8544e78c16).

[2020-05-15 11:31] yoshi-automation commented on #730
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9005fcf3-dd82-4e8a-9eed-ade452c70736).

[2020-05-15 18:53] yoshi-automation commented on #730
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/3ec8a997-6287-4049-9d29-bcba78de1be3).

[2020-05-16 11:39] yoshi-automation commented on #730
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/74eabfaf-a964-4a5b-b26c-c28d4ae22df0).

[2020-05-17 11:36] yoshi-automation commented on #730
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/f108f3b1-7c85-4ba3-9ecd-c042b18b604a).

[2020-05-18 11:33] yoshi-automation commented on #730
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/ba06c5be-cfd9-437c-88f8-032a50b1776e).

[2020-05-19 11:35] yoshi-automation commented on #730
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/e68b2757-435d-4717-8786-35adc2df62d5).

[2020-05-20 12:40] yoshi-automation commented on #730
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/1d96130f-887f-4822-a400-bff75bdfb430).

[2020-05-21 11:43] yoshi-automation commented on #730
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/2d09a9e0-e49f-4d2b-b5ea-2b554f1b32ec).

[2020-05-22 00:43] bcoe commented on #730
@AVaksman if you have some cycles, this might be a good one to dig into, I think it will be related to compilation bugs on an fresh install.

[2020-05-22 12:33] yoshi-automation commented on #730
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/8aeddfbb-7b58-4fc8-9895-2ada12afbca7).

[2020-05-23 18:42] yoshi-automation commented on #730
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/55b41abd-49e7-468a-beba-a8683b58c54c).

[2020-05-24 16:40] yoshi-automation commented on #730
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/1b789978-f73a-46c5-b32f-b0f5a9fa15cc).

[2020-05-25 14:43] yoshi-automation commented on #730
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/ba51bb8e-983e-4ef5-846f-55ea9fa4e79c).

[2020-05-26 13:54] yoshi-automation commented on #730
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/0344a2cb-00c6-4ee5-a325-b78b8a82b7b8).

[2020-05-27 11:36] yoshi-automation commented on #730
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/51e18e2a-b562-4e19-987f-9aedba25285d).

[2020-05-27 21:14] #730 closed

[2020-06-05 11:22] yoshi-automation opened #737 "Synthesis failed for nodejs-bigtable"
Hello! Autosynth couldn't regenerate nodejs-bigtable. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/a84fe804-6b84-41a5-b1f2-e6d681e30fa2).

[2020-06-05 17:13] yoshi-automation commented on #737
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/efbc612a-a1be-43b9-a32e-48ba98cdbde3).

[2020-06-05 22:39] yoshi-automation commented on #737
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/1545d56b-1b0a-4c16-8a59-d0188538d872/targets/github%2Fsynthtool;config=default/tests;query=nodejs-bigtable;failed=false).

[2020-06-06 11:57] yoshi-automation commented on #737
Autosynth passed, closing! :green_heart:

[2020-06-06 11:57] #737 closed

[2020-06-22 22:01] leansk opened #748 "Compression on BigTable API requests"
Is it possible to use compression (gzip) on BigTable API requests?

Thank you

[2020-06-23 19:52] lukasschwab opened #749 "Built function types are missing Promise overloads for Instance methods"
A similar issue: https://github.com/googleapis/nodejs-bigtable/issues/564

#### Environment details

  - OS: Ubuntu
  - Node.js version: 12.16.1
  - npm version: 6.13.4
  - `@google-cloud/bigtable` version: 2.3.2

#### Steps to reproduce

`npm i @google-cloud/bigtable; npm run build`

There are three overloads defined in src/instance.ts for `Instance.getMetadata`: https://github.com/googleapis/nod

[2020-06-29 19:36] lkj19zpdiDDe commented on #612
Any guess on the resolution time-frame? I'm also experiencing this issue.

[2020-07-01 03:29] #574 closed

[2020-07-08 01:14] lukasschwab commented on #749
3.0.0 released!

[2020-07-08 01:14] #749 closed

[2020-07-22 11:40] jgehrcke commented on #634
Not sure if this has really be resolved. Using the 3.0.1 release and I still have to do

[code]

where `instance` is an object of type `Instance` from this package. The code works; without the `//@ts-ignore` we get

[code]

Now, in `yield call([instance, "exists"]);` the `call()` is from redux-saga, and `call([instance, "exists"])` is precisely the recommended method to call a method on a class, a

[2020-07-31 11:37] fabifink opened #779 "createReadStream issue against Bigtable Emulator"
Hello,

I am experiencing a problem regarding the `@google-cloud/bigtable` library when executed against the Bigtable Emulator. In version 1.x of this library, I was able to use the gcloud cli Bigtable Emulator as well as a Bigtable Cluster hosted on GCP. Unfortunately, when we switched to v2.x, the library did not behave as expected, when used with the Bigtable Emulator. This forces us to run all

[2020-07-31 17:05] stephenplusplus commented on #779
Thank you very much for the detailed report! This appears to be a duplicate of #612 -- would you mind adding your report as part of the thread there?

[2020-07-31 17:05] #779 closed

[2020-08-06 11:12] yoshi-automation opened #782 "Synthesis failed for nodejs-bigtable"
Hello! Autosynth couldn't regenerate nodejs-bigtable. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/76bb7f6f-4d47-4888-b0d2-a8761a276cc8/targets/github%2Fsynthtool;config=default/tests;query=nodejs-bigtable;failed=false).

[2020-08-06 18:42] yoshi-automation commented on #782
Autosynth passed, closing! :green_heart:

[2020-08-06 18:42] #782 closed

[2020-08-20 18:46] chroth7 opened #789 "Typescript types on `FilterConfigOption`"
Client Library Issue // not yet address as far as I can tell

The type of `FilterConfigOption` seems to be wrong.

#### Environment details

  - OS: mac
  - Node.js version: 12.16.1
  - npm version: 6.14.5
  - `@google-cloud/bigtable` version: 3.0.1

#### Steps to reproduce

  1. Check out the type here: https://github.com/googleapis/nodejs-bigtable/blob/6d79c48a07111f6def752b636def22d17f748956/sr

[2020-08-27 15:22] #789 closed

[2020-08-28 13:01] chroth7 commented on #789
thanks!

[2020-08-31 10:19] yoshi-automation opened #793 "Synthesis failed for nodejs-bigtable"
Hello! Autosynth couldn't regenerate nodejs-bigtable. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/387dcf60-7b0d-4472-8e47-9bc246b244cc/targets/github%2Fsynthtool;config=default/tests;query=nodejs-bigtable;failed=false).

[2020-09-01 10:19] yoshi-automation commented on #793
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/3bf5cee3-60e2-4685-a4e9-dd918938e317/targets/github%2Fsynthtool;config=default/tests;query=nodejs-bigtable;failed=false).

[2020-09-02 10:19] yoshi-automation commented on #793
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/4c9b2618-bf48-4e7d-a292-1572b33aca9f/targets/github%2Fsynthtool;config=default/tests;query=nodejs-bigtable;failed=false).

[2020-09-03 10:37] yoshi-automation commented on #793
Autosynth passed, closing! :green_heart:

[2020-09-03 10:37] #793 closed

[2020-09-04 00:07] crwilcox commented on #708
#770 removed the remaining usage. 🎉

[2020-09-04 00:07] #708 closed

[2020-09-10 05:58] laljikanjareeya commented on #748
@leansk Currently compression on BigTable API request is not available.
BigTable compresses your data automatically using an intelligent algorithm on back-end read more about [BigTable Data Compression](https://cloud.google.com/bigtable/docs/overview#compression).

[2020-09-14 07:06] fabifink commented on #612
I am experiencing the same problem when executing against the Bigtable Emulator. In version 1.x of this library, I was able to use the gcloud cli Bigtable Emulator as well as a Bigtable Cluster hosted on GCP. Unfortunately, when we switched to v2.x, the library did not behave as expected, when used with the Bigtable Emulator. This forces us to run all our integration tests against a real GCP Bigta

[2020-09-14 14:20] #748 closed

[2020-09-21 20:04] crwilcox commented on #659
This seems to be a documentation improvement request. https://cloud.google.com/bigtable/docs/deleting-instance could make it clear that deletion of instance/cluster is eventually consistent. I am opening an issue to look into update cloud.google.com

Tracked at b/169080009.

[2020-09-21 20:04] #659 closed

[2020-10-05 09:10] fabifink commented on #612
@stephenplusplus The PR for [googleapis/gax-nodejs#726](https://github.com/googleapis/gax-nodejs/issues/726) seems to be merged. Can you go ahead with this issue now?

[2020-10-05 19:52] cshaff0524 commented on #659
This is a known issue. When you delete a cluster, you are prevented from creating a new cluster with the same ID for about a week, unless you create the cluster in the same instance that previously contained it.

This issue can't be fixed until after the [API v1 shutdown](https://cloud.google.com/bigtable/docs/deprecations/v1-api-shutdown) is complete.

[2020-10-16 05:51] takaaki7 opened #810 "When multiple cell exists in one column, second element of ICellChunk[] doesn't have enough data."
When multiple cell exists in one column, second element of ICellChunk[] doesn't have `rowKey`, `qualifier` and `familyName`.
#### Environment details

  - OS: any
  - Node.js version: v12.16.0
  - npm version: 6.13.4
  - `@google-cloud/bigtable` version: 2.3.2

#### Steps to reproduce

  1. write some data twice into one cell.
  2. call readRows to read that row.

column state.
[code]

readRows co

[2020-10-29 07:03] laljikanjareeya commented on #810
@takaaki7 Thanks for the report. This is actual Response comes from back-end.

In your case if you are reading rows from table we recommended to use [createReadStream](https://googleapis.dev/nodejs/bigtable/latest/Table.html#createReadStream) or [getRows](https://googleapis.dev/nodejs/bigtable/latest/Table.html#getRows) from `table` as it has wrapper on `readRows`.

Here is code snippet for same:

[2020-10-29 22:25] AVaksman commented on #810
@takaaki7

Please use functions suggested by @laljikanjareeya in the comment [above](https://github.com/googleapis/nodejs-bigtable/issues/810#issuecomment-718405994).

Depending on various combinations of the fields that are returned on a given `CellChunk` a determination could be made whether the current `CellChunk` is

- Initial chunk for the rowKey
- continuation of the same rowKey as previous

[2020-10-30 04:06] takaaki7 commented on #810
I understood. Thank you!

[2020-10-30 04:06] #810 closed

[2020-11-05 21:43] AVaksman commented on #700
@omrib15 thank you for inquiring

- The data in Cloud Bigtable structured so, that a cell can have multiple versions of the value differentiated by cell's timestamp. ([doc](https://cloud.google.com/bigtable/docs/garbage-collection#timestamps))
- The amount of data stored (number of cell's versions or cell's value age) can be regulated by various types of the garbage collection rules ([doc](https:/

[2020-11-16 08:21] build-cop-bot[bot] opened #820 "Bigtable: "after all" hook in "Bigtable" failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 8ad7ab191e41f18ff2de9803d520f1c05a4940b5
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-11-17 11:33] yoshi-automation opened #821 "Synthesis failed for nodejs-bigtable"
Hello! Autosynth couldn't regenerate nodejs-bigtable. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/41cb730e-45c6-49f2-b28b-3a488a733de0/targets/github%2Fsynthtool;config=default/tests;query=nodejs-bigtable;failed=false).

[2020-11-18 11:33] yoshi-automation commented on #821
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/2d2c2800-4b42-45f6-b130-b521a3d6d6c5/targets/github%2Fsynthtool;config=default/tests;query=nodejs-bigtable;failed=false).

[2020-11-18 22:02] yoshi-automation commented on #821
Autosynth is still having trouble generating nodejs-bigtable. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/a365d716-d660-4653-8cf3-6f8423dce2e1/targets/github%2Fsynthtool;config=default/tests;query=nodejs-bigtable;failed=false).

[2020-11-19 13:42] yoshi-automation commented on #821
Autosynth passed, closing! :green_heart:

[2020-11-19 13:42] #821 closed

[2020-11-23 23:27] bcoe commented on #820
this seems to have succeeded the last several bulds.

[2020-11-23 23:27] #820 closed

[2021-01-03 22:57] gregsherrid commented on #612
@stephenplusplus I'm also seeing this issue, and I'm curious if there's a timeline on resolving this?

[2021-01-21 13:11] forking-renovate[bot] opened #837 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-28 00:41] #700 closed

[2021-01-29 09:00] flaky-bot[bot] opened #839 "Bigtable: "after all" hook in "Bigtable" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 8105dea272de44e69915d3e62e5b5add106b54cb
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/df

[2021-01-29 16:45] ansf commented on #612
Can confirm that `createReadStream()` and `getRows()` hang when the table is empty on the emulator.

Unfortunately the workaround does not work for me.

Any news on this issue?
I think it should be labeled as bug instead of question.

[2021-02-01 08:01] ansf commented on #612
Ok, so I managed to get the workaround working.

I tried this code (which the types suggested):

[code]

But I actually had to use this exact code from stackoverflow:

[code]

[2021-02-25 12:21] yoshi-automation opened #846 "Synthesis failed for nodejs-bigtable"
Hello! Autosynth couldn't regenerate nodejs-bigtable. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/add0c9e5-cf63-41ac-b88d-3c473bb9eed9/targets/github%2Fsynthtool;config=default/tests;query=nodejs-bigtable;failed=false).

[2021-02-26 11:30] yoshi-automation commented on #846
Autosynth passed, closing! :green_heart:

[2021-02-26 11:30] #846 closed

[2021-04-14 22:05] tmatsuo opened #858 "Docs build has a link failure"
Logs:
[code]

[2021-04-14 22:21] tmatsuo commented on #858
Happened on https://github.com/googleapis/nodejs-bigtable/pull/857

[2021-04-29 07:19] flaky-bot[bot] opened #867 "filters: "before all" hook for "should filter with row sample" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: d799d88b1c9c1d57ccd10759571dd981c6b231a7
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/1e

[2021-05-04 15:13] #867 closed

[2021-05-04 15:39] kolea2 opened #870 "Refactor backup.ts instance name configuration"
See https://github.com/googleapis/nodejs-bigtable/pull/863#discussion_r625252289 for more details

[2021-05-05 18:19] stephenplusplus commented on #870
I left a comment within that thread to keep the context and have the original participants involved.

[2021-05-13 10:06] varundhussa opened #877 "Double values in a cell are not read correctly"
#### Environment details

  - OS: Linux
  - Node.js version: v12.21.0
  - npm version: 7.5.2
  - `@google-cloud/bigtable` version:

#### Steps to reproduce

  1. Write a double value byte array to a Bigtable column using Java/Python
  2. Read the column value using the node client library
  3. Convert the result byte string to double using Buffer.from(bytestring).readDoubleBE()

Making sure to fol

[2021-05-18 00:03] crwilcox commented on #877
Thanks for filing @varundhussa . I have left some comments on your PR.

Also, is the sample a 'realistic' one, or just to demonstrate the problem?

[2021-05-20 17:21] crwilcox commented on #877
@varundhussa what is the current behavior when that code is run? What is the output?

[2021-06-08 07:20] flaky-bot[bot] opened #884 "filters: "before all" hook for "should filter with row sample" failed"
Note: #867 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: ab140efcc693452aee1f4572e4adcc62964c4f23
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/7fd95374-35e6-48ae-a3a4-e7ae4e3f8db6), [Sponge](http://sponge2/7fd95374-35e6-48ae-a3a4-e7ae4e3f8db6)
status: failed
<details><summary>Test output</summary><br><pre

[2021-06-10 10:56] ansf opened #888 "Unexpected poor performance when querying zero keys"
When querying for zero keys, the query becomes very slow and leads to high CPU usage on the BigTable nodes.

From my understanding this is unexpected.

In the go repo, I found some hints that this kind of query leads to a full table scan:
https://github.com/googleapis/google-cloud-go/blob/f94389e79f58eb29eaa48ed69017fc82334c3acd/bigtable/bigtable.go#L183

Maybe we can check for empty keys in the c

[2021-06-14 15:25] flaky-bot[bot] opened #891 "filters: should filter with row sample failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9d9a75059004baf159900db6f2a87880204be1f0
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/80

[2021-06-23 00:01] failure-checker[bot] opened #902 "Warning: a recent release failed"
The following release PRs may have failed:

* #874

[2021-06-23 13:35] #902 closed

[2021-06-23 17:01] failure-checker[bot] opened #904 "Warning: a recent release failed"
The following release PRs may have failed:

* #874

[2021-06-25 21:01] #904 closed

[2021-06-29 20:01] failure-checker[bot] opened #909 "Warning: a recent release failed"
The following release PRs may have failed:

* #874
* #908

[2021-06-30 22:16] #909 closed

[2021-07-08 15:12] stephenplusplus commented on #870
Closing per https://github.com/googleapis/nodejs-bigtable/pull/863#discussion_r660863601.

[2021-07-08 15:12] #870 closed

[2021-07-21 00:36] flaky-bot[bot] opened #918 "instances: should list zones failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: b4ad7ed20173b02eb8d11446e6c214a1bc092fa5
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/03

[2021-07-21 00:36] flaky-bot[bot] opened #919 "instances: "after all" hook for "should list zones" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: b4ad7ed20173b02eb8d11446e6c214a1bc092fa5
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/03

[2021-07-21 01:14] #918 closed

[2021-08-25 04:56] forking-renovate[bot] opened #934 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] chore(deps): update actions/setup-node action to v2

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency requestretry to

[2021-08-30 09:38] #934 closed

[2021-09-21 07:22] flaky-bot[bot] opened #938 "Bigtable CMEK: "before all" hook for "should have created an instance" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 06c176096e29f4ed26f6cf588c9050778f118788
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/5b94

[2021-09-21 07:22] flaky-bot[bot] opened #939 "Bigtable CMEK: "after all" hook for "should fail if key not provided" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 06c176096e29f4ed26f6cf588c9050778f118788
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/5b94

[2021-10-05 15:11] RajaOne opened #946 "table.getRows() is never completed"
As of September 30th, we are experiencing issues with queries to bigtable on our GCP production environment. We have two other environments as separate GCP projects that run the same code but do not have this problem. Nothing changed in the code that could have impacted the bigtable client.
The code below started hanging seemingly all of a sudden. We noticed that `getRows` only gets stuck if there

[2021-10-12 17:24] #891 closed

[2021-10-12 23:55] #919 closed

[2021-10-15 14:40] igorbernstein2 opened #951 "Update docs to explicitly steer users to use the correct public surface"
Currently our docs include the GAPIC generated stubs and protobuf documentation. Unfortunately the GAPIC stubs (ie v2.BigtableClient) do not provide enough functionality to use bigtable correctly (it lacks row merging and proper retries).

It is also unclear to me how much of the autogenerated types are used on the public surface. Ideally any types that aren't used on the public surface should be

[2021-11-15 16:11] RajaOne commented on #946
This is fixed with `"google-gax": "2.28.1"`.
So I added this to my package.json:
[code]

[2021-11-22 08:22] flaky-bot[bot] opened #964 "Bigtable CMEK: should fail if key not provided failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 5ab91ef1c29164225b4ec60d135075b5f78af10c
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/2ad1

[2021-12-03 20:52] sanggonlee opened #965 "Proper API Documentation would be great rather than sample code"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

 **Is your feature request related to a problem? Please describe.**
It's always difficult to find the proper API documentati

[2021-12-30 23:11] flaky-bot[bot] opened #972 "filters: "before all" hook for "should filter with row sample" failed"
Note: #884 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 6669c370436ee80d8a453253312d685573a855a7
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/802be8bc-eea0-43f0-a233-ebd84ce271e1), [Sponge](http://sponge2/802be8bc-eea0-43f0-a233-ebd84ce271e1)
status: failed
<details><summary>Test output</summary><br><pre

[2021-12-30 23:11] flaky-bot[bot] opened #973 "filters: "after all" hook for "should filter with condition" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 6669c370436ee80d8a453253312d685573a855a7
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/802b

[2021-12-30 23:11] flaky-bot[bot] opened #974 "instances: should list zones failed"
Note: #918 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 6669c370436ee80d8a453253312d685573a855a7
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/802be8bc-eea0-43f0-a233-ebd84ce271e1), [Sponge](http://sponge2/802be8bc-eea0-43f0-a233-ebd84ce271e1)
status: failed
<details><summary>Test output</summary><br><pre

[2021-12-30 23:11] flaky-bot[bot] opened #975 "instances: "after all" hook for "should list zones" failed"
Note: #919 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 6669c370436ee80d8a453253312d685573a855a7
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/802be8bc-eea0-43f0-a233-ebd84ce271e1), [Sponge](http://sponge2/802be8bc-eea0-43f0-a233-ebd84ce271e1)
status: failed
<details><summary>Test output</summary><br><pre

[2021-12-30 23:11] flaky-bot[bot] opened #976 "The build failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 6669c370436ee80d8a453253312d685573a855a7
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/802b

[2021-12-30 23:14] #964 closed

[2022-01-02 08:23] flaky-bot[bot] opened #977 "📦 pack-n-play test: TypeScript code failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 6669c370436ee80d8a453253312d685573a855a7
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8aa6

[2022-01-12 04:13] meredithslota commented on #977
I thought this was due to an error in gax that had been resolved, but it seems to still be recurring — will try one more time to close.

[2022-01-12 04:15] #839 closed

[2022-01-12 04:15] #938 closed

[2022-01-12 04:15] #939 closed

[2022-01-12 04:18] meredithslota commented on #587
@kolea2 Is this something that is worth prioritizing (for parity across libraries or ...) in 2022?

[2022-01-12 04:21] meredithslota commented on #877
Closing, not enough info to debug. Also closing open linked PR.

[2022-01-12 04:21] #877 closed

[2022-01-12 04:22] meredithslota commented on #556
@kolea2 Possibly a good clean-up project to prioritize in 2022?

[2022-01-12 19:08] repo-metadata-lint[bot] opened #981 "Your .repo-metadata.json file has a problem 🤒"
You have a problem with your .repo-metadata.json file:

Result of scan 📈:

* must have required property 'library_type' in .repo-metadata.json
* release_level must be equal to one of the allowed values in .repo-metadata.json

 ☝️ Once you correct these problems, you can close this issue.

Reach out to **go/github-automation** if you have any questions.

[2022-01-12 20:32] igorbernstein2 opened #983 "Make pack-n-play errors from system-test easier to debug"
Currently if there is a pack-n-play the system-tests just fail with the message "Process xxx exited with code y", this doesn't really help debugging the underlying problem. Bubbling up the output from tsc would be a lot more helpful. It seems like the output is recorded in err.stdout: https://github.com/google/pack-n-play/blob/v1.0.0-2/src/pack-n-test.ts#L112, but there is no obvious way to see th

[2022-01-12 23:10] #981 closed

[2022-01-14 23:45] #951 closed

[2022-01-18 15:50] mutianf opened #987 "Add tests for close()"
Add tests to verify all clients and connections are closed for change https://github.com/googleapis/nodejs-bigtable/pull/986.

[2022-01-20 21:26] mutianf opened #991 "Bubble up 'metadata' event for mutate request"
mutate request should emit 'metadata' event in the manual layer so applications can get useful metrics from response headers like gfe 'server-timing'

[2022-01-25 17:57] #977 closed

[2022-02-02 23:13] mutianf opened #1008 "System-test is not cleaning up instances properly"
system-test failed to clean up test instances with not found errors like: `Error: 5 NOT_FOUND: Failed to read: projects/{818418350420}/instances/gcloud-tests-d-inst-c089e871` which causes the test project to run out of node quota.

[2022-02-08 08:23] flaky-bot[bot] opened #1015 "Bigtable: "before all" hook in "Bigtable" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 2d184d2fbaaa97ea84d69e74048e943145ce7790
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/6b34

[2022-02-08 08:23] flaky-bot[bot] opened #1016 "Bigtable: "after all" hook in "Bigtable" failed"
Note: #839 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 2d184d2fbaaa97ea84d69e74048e943145ce7790
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/6b34db45-bb9c-4692-b1b1-4afc57ba7482), [Sponge](http://sponge2/6b34db45-bb9c-4692-b1b1-4afc57ba7482)
status: failed
<details><summary>Test output</summary><br><pre

[2022-02-08 21:24] #987 closed

[2022-02-15 11:06] xxamxx commented on #946
I also have the problem about  in my project.

Environment details
OS: Docker container (node:12.11.1) running on kubernetes engine on GCP and Windows 10
Node.js version: v16.13.1
yarn version: 1.22.17
@google-cloud/bigtable version: 3.9.2

[code]

and I try to connect to `bigtable.googleapis.com` and `bigtableadmin.googleapis.com` by telnet are a failure.
![image](https://user-images.githubuserco

[2022-03-22 15:12] flaky-bot[bot] opened #1033 "Bigtable instances: should set Iam Policy on the instance failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1034 "Bigtable column families: should get the column family metadata failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1035 "Bigtable column families: should update a column family failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1036 "Bigtable column families: should delete a column family failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1037 "Bigtable rows .exists(): "before each" hook for "should check if a row exists" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1038 "Bigtable rows .exists(): "after each" hook for "should check if a row exists" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1039 "Bigtable rows inserting data: should insert rows failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1040 "Bigtable rows inserting data: should insert a large row failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1041 "Bigtable rows inserting data: should create an individual row failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1042 "Bigtable rows inserting data: should insert individual cells failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1043 "Bigtable rows inserting data: should allow for user specified timestamps failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1044 "Bigtable rows inserting data: should increment a column value failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1045 "Bigtable rows inserting data: should apply read failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1046 "Bigtable rows inserting data: should check and mutate a row failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1047 "Bigtable rows fetching data: many tests failed"
Many tests failed at the same time in this package.

* I will close this issue when there are no more failures in this package _and_
  there is at least one pass.
* No new issues will be filed for this package until this issue is closed.
* If there are already issues for individual test cases, I will close them when
  the corresponding test passes. You can close them earlier, if you prefer, and

[2022-03-22 15:12] flaky-bot[bot] opened #1048 "Bigtable rows fetching data filters: many tests failed"
Many tests failed at the same time in this package.

* I will close this issue when there are no more failures in this package _and_
  there is at least one pass.
* No new issues will be filed for this package until this issue is closed.
* If there are already issues for individual test cases, I will close them when
  the corresponding test passes. You can close them earlier, if you prefer, and

[2022-03-22 15:12] flaky-bot opened #1049 "Bigtable deleting rows: should delete specific cells failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1050 "Bigtable deleting rows: should delete a family failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1051 "Bigtable deleting rows: should delete all the cells failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1052 "Bigtable .deleteRows(): "before each" hook for "should delete the prefixes" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1053 "Bigtable .deleteRows(): "after each" hook for "should delete the prefixes" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1054 "Bigtable .truncate(): "before each" hook for "should truncate a table" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1055 "Bigtable .truncate(): "after each" hook for "should truncate a table" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:12] flaky-bot[bot] opened #1056 "Bigtable backups: "before all" hook for "should create backup of a table (from cluster)" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 9a0b2c06295fb4c87c4cfbc347a8234ae9639914
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/8ca8

[2022-03-22 15:43] #1051 closed

[2022-03-22 15:43] #1050 closed

[2022-03-22 15:43] #1049 closed, assigned to nobody

[2022-03-22 15:43] #1047 closed

[2022-03-22 15:43] #1046 closed

[2022-03-22 15:43] #1044 closed

[2022-03-22 15:44] #1043 closed

[2022-03-23 07:24] #1041 closed

[2022-03-23 07:24] #1040 closed

[2022-03-23 07:24] #1039 closed

[2022-03-23 07:24] #1036 closed

[2022-03-23 07:24] #1035 closed

[2022-03-23 07:24] #1034 closed

[2022-03-23 07:24] #1033 closed

[2022-03-30 14:16] danieljbruce commented on #555
This was fixed in version 3.0.0-beta.0 of nodejs-bigtable.

[2022-04-04 18:29] danieljbruce commented on #612
It seems this issue is no longer present as of version 3.0.0-beta.0 of nodejs-bigtable. Try upgrading your client library to see if that solves the issue.

[2022-04-07 19:39] #612 closed

[2022-04-22 22:03] meredithslota commented on #976
This is the same failure repeatedly re: `NOT_FOUND: Instance projects/long-door-651/instances/gcloud-tests--1ce6ffa8 not found.` — did something happen in the testing project?

[2022-04-22 22:08] meredithslota commented on #976
Ah, I see — likely related to https://github.com/googleapis/nodejs-bigtable/issues/1008 along with several other issues.

[2022-05-04 07:19] flaky-bot[bot] opened #1081 "v2.BigtableClient readRows: invokes readRows with closed client failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f7fc934631b02c6c1ec3f2fdc8e0e0b160333730
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/dd97

[2022-05-04 07:19] flaky-bot[bot] opened #1082 "v2.BigtableClient sampleRowKeys: invokes sampleRowKeys with closed client failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f7fc934631b02c6c1ec3f2fdc8e0e0b160333730
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/dd97

[2022-05-04 07:19] flaky-bot[bot] opened #1083 "v2.BigtableClient mutateRows: invokes mutateRows with closed client failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f7fc934631b02c6c1ec3f2fdc8e0e0b160333730
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/dd97

[2022-05-06 14:09] danieljbruce opened #1084 "For the generateId function, add a date to `generateId` so that cleanup is easier"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

This helps with internal cleanup

 **Describe the solution you'd like**
A clear and concise description of what you want to happen.

Add `Date.now()` to the end of `return PREFIX + resourceType + '-' + uuid.v1().substr(0, 8);` in `generate

[2022-05-06 15:39] #1037 closed

[2022-05-06 15:39] #1038 closed

[2022-05-06 15:39] #1052 closed

[2022-05-06 15:39] #1053 closed

[2022-05-06 15:39] #1054 closed

[2022-05-06 15:39] #1055 closed

[2022-05-06 15:39] #1056 closed

[2022-05-06 15:41] #1015 closed

[2022-05-06 15:41] #1016 closed

[2022-05-10 19:51] #1082 closed

[2022-05-10 19:51] #1081 closed

[2022-05-17 14:17] danieljbruce commented on #1083
Looks like this test is for the generated `GAPIC` layer of code so this will not be an issue with the veneer.

[2022-06-09 01:08] flaky-bot[bot] opened #1098 "Bigtable CMEK: "before all" hook for "should have created an instance" failed"
Note: #938 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 62fc17ea517f9b61270b9227226619bd0259a553
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/5523be02-c983-4981-9a37-8a30926239b1), [Sponge](http://sponge2/5523be02-c983-4981-9a37-8a30926239b1)
status: failed
<details><summary>Test output</summary><br><pre

[2022-06-09 01:08] flaky-bot[bot] opened #1099 "Bigtable: "after all" hook in "Bigtable" failed"
Note: #1016 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 62fc17ea517f9b61270b9227226619bd0259a553
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/5523be02-c983-4981-9a37-8a30926239b1), [Sponge](http://sponge2/5523be02-c983-4981-9a37-8a30926239b1)
status: failed
<details><summary>Test output</summary><br><pr

[2022-06-20 22:06] flaky-bot[bot] opened #1104 "deletes: "before all" hook for "should delete column from a row" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 75c1a301cd3ec91c7b251b384307687d081525b9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0924

[2022-06-20 22:06] flaky-bot[bot] opened #1105 "📦 App Profile 📦 Create a profile: "before all" hook for "should create a profile with a single cluster" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 75c1a301cd3ec91c7b251b384307687d081525b9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/6023

[2022-06-20 22:06] flaky-bot[bot] opened #1106 "📦 App Profile 📦 Create a profile: "after all" hook for "should ensure clusters match an updated profile" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 75c1a301cd3ec91c7b251b384307687d081525b9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/6023

[2022-06-20 22:06] flaky-bot[bot] opened #1107 "Bigtable: "before all" hook in "Bigtable" failed"
Note: #1015 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 75c1a301cd3ec91c7b251b384307687d081525b9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/60238819-33a6-4b7a-ac00-3045e8231bee), [Sponge](http://sponge2/60238819-33a6-4b7a-ac00-3045e8231bee)
status: failed
<details><summary>Test output</summary><br><pr

[2022-06-20 22:06] flaky-bot[bot] opened #1108 "instances: "before all" hook for "should list zones" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 75c1a301cd3ec91c7b251b384307687d081525b9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/0924

[2022-06-20 22:06] flaky-bot[bot] opened #1109 "Cluster Create cluster With manual scaling: "before each" hook for "should create an instance with clusters for manual scaling" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 75c1a301cd3ec91c7b251b384307687d081525b9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/6023

[2022-06-20 22:06] flaky-bot[bot] opened #1110 "Cluster: "after each" hook for "should create an instance with clusters for manual scaling" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 75c1a301cd3ec91c7b251b384307687d081525b9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/6023

[2022-06-21 07:34] flaky-bot[bot] opened #1111 "Cluster Create cluster With manual scaling: "before each" hook for "should throw an error when providing no cluster configuration" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 75c1a301cd3ec91c7b251b384307687d081525b9
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/b6c3

[2022-06-21 17:57] flaky-bot[bot] opened #1112 "Cluster Update cluster Updating manual scaling for a cluster: "before each" hook for "should throw an error when providing no cluster configuration" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: e8a5ab8bc2dd800a78c625ecb42c230c446e092f
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/535e

[2022-06-21 17:57] flaky-bot[bot] opened #1113 "Cluster: "after each" hook for "should throw an error when providing no cluster configuration" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: e8a5ab8bc2dd800a78c625ecb42c230c446e092f
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/535e

[2022-06-22 21:18] danieljbruce commented on #556
The entire `decorateStatus.ts` file seems to be gone so I am guessing this was cleaned up long ago.

[2022-06-27 07:25] flaky-bot[bot] opened #1116 "Cluster Update cluster Starting from autoscaling: should change cluster to manual scaling failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: b997a6b7be9f58a2d2d4884527260a643ae84252
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/7ecd

[2022-07-01 07:24] flaky-bot[bot] opened #1119 "Cluster Create cluster With automatic scaling: should create an instance and then create clusters for automatic scaling failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: b997a6b7be9f58a2d2d4884527260a643ae84252
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/1520

[2022-07-07 00:07] failure-checker[bot] opened #1122 "Warning: a recent release failed"
The following release PRs may have failed:

* #1075 - The release job is 'autorelease: pending', but expected 'autorelease: published'.

[2022-07-11 13:13] GuillaumeCisco opened #1124 "start/end types in `GetRowsOptions`"
https://github.com/googleapis/nodejs-bigtable/blob/752a6e7b5864f627940904d8d85008ae3dd6046d/src/table.ts#L249

Looks like type is incorrect.
It can be either a string or an object `{value: string, inclusive: bool }`

See examples: https://cloud.google.com/nodejs/docs/reference/bigtable/latest/bigtable/table

[2022-07-13 07:24] flaky-bot[bot] opened #1126 "Bigtable/Table close: should fail when invoking readRows with closed client failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 10dcd217a6f276f53f58f3cd89650040d7b88089
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/ed23

[2022-07-13 16:43] danieljbruce opened #1128 "Add a log in the asserts for system tests on clusters"

[2022-07-18 15:50] #1128 closed

[2022-07-21 17:30] alexander-fenster opened #1131 "Cloud Bigtable should have a gRPC channel pool"
Copying from https://github.com/googleapis/gax-nodejs/issues/163 (I'll close the corresponding google-gax issue):

Please consider this feature request or feel free to close if it's not something you're going to implement. Thank you!

[2022-07-27 19:57] meredithslota commented on #976
This is a new error (no longer about `NOT_FOUND: Instance projects/long-door-651/instances/gcloud-tests--1ce6ffa8 not found.` but now about `Error: 8 RESOURCE_EXHAUSTED: Quota exceeded`). Tempted to close and see if it reoccurs.

[2022-07-27 19:57] #976 closed

[2022-08-01 07:24] flaky-bot[bot] opened #1132 "Cluster Update cluster Starting from autoscaling: should change autoscaling properties failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 2005842a8a3585b3736101d17b01caeceea09048
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/4b80

[2022-08-12 20:11] danieljbruce commented on #975
Mostly quota exceeded errors as of late

[2022-08-12 20:14] danieljbruce commented on #1008
Is it throwing the error on a test and then as a result, not running one of the `after` hooks?

[2022-08-12 20:17] danieljbruce commented on #1098
Closing this since it clearly seems it is just due to availability.

[2022-08-12 20:17] #1098 closed

[2022-08-12 20:29] danieljbruce opened #1134 "Quota exceeded Flakey tests"
This is an issue that aims to group all flakey test issues to reduce total number of issues.

[2022-08-12 20:29] danieljbruce commented on #1134
https://github.com/googleapis/nodejs-bigtable/issues/1105

[2022-08-12 20:29] danieljbruce commented on #1105
Closing. Duplicate of https://github.com/googleapis/nodejs-bigtable/issues/1134

[2022-08-12 20:29] #1105 closed

[2022-08-12 20:31] danieljbruce commented on #1104
Quota exceeded and timeout. Closing and grouping under https://github.com/googleapis/nodejs-bigtable/issues/1134.

[2022-08-12 20:31] danieljbruce commented on #1134
https://github.com/googleapis/nodejs-bigtable/issues/1104

[2022-08-12 20:35] danieljbruce commented on #1008
Also happens here: https://github.com/googleapis/nodejs-bigtable/issues/1099

[2022-08-12 20:35] danieljbruce commented on #1099
Duplicate of https://github.com/googleapis/nodejs-bigtable/issues/1008

[2022-08-12 20:35] #1099 closed

[2022-08-12 20:38] danieljbruce commented on #1134
https://github.com/googleapis/nodejs-bigtable/issues/1106

[2022-08-12 20:38] danieljbruce commented on #1106
Duplicate of https://github.com/googleapis/nodejs-bigtable/issues/1134

[2022-08-12 20:38] #1106 closed

[2022-08-12 20:39] danieljbruce commented on #1134
https://github.com/googleapis/nodejs-bigtable/issues/1107

[2022-08-12 20:39] danieljbruce commented on #1107
Duplicate of https://github.com/googleapis/nodejs-bigtable/issues/1107

[2022-08-12 20:39] #1107 closed

[2022-08-12 20:41] danieljbruce commented on #1134
https://github.com/googleapis/nodejs-bigtable/issues/1108

[2022-08-12 20:41] danieljbruce commented on #1108
Duplicate of https://github.com/googleapis/nodejs-bigtable/issues/1134

[2022-08-12 20:41] #1108 closed

[2022-08-12 20:42] danieljbruce commented on #1134
https://github.com/googleapis/nodejs-bigtable/issues/1109

[2022-08-12 20:42] danieljbruce commented on #1109
Duplicate of https://github.com/googleapis/nodejs-bigtable/issues/1134

[2022-08-12 20:42] #1109 closed

[2022-08-12 20:43] danieljbruce commented on #1134
https://github.com/googleapis/nodejs-bigtable/issues/1110

[2022-08-12 20:43] danieljbruce commented on #1110
Duplicate of https://github.com/googleapis/nodejs-bigtable/issues/1134

[2022-08-12 20:43] #1110 closed

[2022-08-12 20:46] danieljbruce opened #1135 "Timeout exceeded bugs"
This bug contains a reference to all the timeout exceeded bugs.

[2022-08-12 20:46] danieljbruce commented on #1135
https://github.com/googleapis/nodejs-bigtable/issues/1111

[2022-08-12 20:46] danieljbruce commented on #1111
https://github.com/googleapis/nodejs-bigtable/issues/1135

[2022-08-12 20:46] #1111 closed

[2022-08-12 20:47] danieljbruce commented on #1134
https://github.com/googleapis/nodejs-bigtable/issues/1112

[2022-08-12 20:47] danieljbruce commented on #1112
Duplicate of https://github.com/googleapis/nodejs-bigtable/issues/1134

[2022-08-12 20:47] #1112 closed

[2022-08-12 20:48] danieljbruce commented on #1008
https://github.com/googleapis/nodejs-bigtable/issues/1113

[2022-08-12 20:49] danieljbruce commented on #1113
Duplicate of https://github.com/googleapis/nodejs-bigtable/issues/1008

[2022-08-12 20:49] #1113 closed

[2022-08-12 20:51] danieljbruce opened #1136 "Cluster scaling tests"
On an ongoing basis our tests are failing when trying to change number of nodes for autoscaler.

[2022-08-12 20:52] danieljbruce commented on #1136
https://github.com/googleapis/nodejs-bigtable/issues/1119

[2022-08-12 20:52] danieljbruce commented on #1119
Duplicate of https://github.com/googleapis/nodejs-bigtable/issues/1136

[2022-08-12 20:52] #1119 closed

[2022-08-12 20:55] danieljbruce commented on #1136
https://github.com/googleapis/nodejs-bigtable/issues/1116

[2022-08-12 20:55] danieljbruce commented on #1116
Duplicate of https://github.com/googleapis/nodejs-bigtable/issues/1136

[2022-08-12 20:55] #1116 closed

[2022-08-12 20:58] danieljbruce opened #1137 "Cluster is temporarily unavailable"
This issue is a collection of every time where we see the message `Cluster is temporarily unavailable`.

[2022-08-12 20:59] danieljbruce commented on #1137
https://github.com/googleapis/nodejs-bigtable/issues/1126

[2022-08-12 20:59] danieljbruce commented on #1126
Duplicate of https://github.com/googleapis/nodejs-bigtable/issues/1137

[2022-08-12 21:00] danieljbruce commented on #1136
https://github.com/googleapis/nodejs-bigtable/issues/1132

[2022-08-12 21:00] danieljbruce commented on #1132
Duplicate of https://github.com/googleapis/nodejs-bigtable/issues/1136.

[2022-08-12 21:00] #1132 closed

[2022-08-12 21:03] danieljbruce commented on #1134
https://github.com/googleapis/nodejs-bigtable/issues/972

[2022-08-12 21:03] danieljbruce commented on #972
Grouped under https://github.com/googleapis/nodejs-bigtable/issues/1134

[2022-08-12 21:03] #972 closed

[2022-08-12 21:06] danieljbruce commented on #975
Grouped under https://github.com/googleapis/nodejs-bigtable/issues/1134 and https://github.com/googleapis/nodejs-bigtable/issues/1008

[2022-08-12 21:06] #975 closed

[2022-08-12 21:06] danieljbruce commented on #1008
https://github.com/googleapis/nodejs-bigtable/issues/975

[2022-08-12 21:06] danieljbruce commented on #1134
https://github.com/googleapis/nodejs-bigtable/issues/975

[2022-08-12 21:09] #556 closed

[2022-08-12 21:11] danieljbruce commented on #973
All test outputs say:

`Cannot read property 'delete' of undefined`

[2022-08-24 16:32] meredithslota commented on #1126
(Flaky bot doesn't know about duplicates, it'll keep reopening this until it's fixed.)

[2022-08-24 16:33] meredithslota commented on #1104
Dropping priority due to related issue identified, but flaky-bot will keep reopening until it's no longer flaky.

[2022-08-24 16:35] meredithslota commented on #858
Error is no longer showing up in logs (and recent docs builds have succeeded), so closing this out.

[2022-08-24 16:35] #858 closed

[2022-08-24 16:39] #965 closed

[2022-08-24 16:40] meredithslota commented on #1122
Can confirm that 3.13.0 never made it to npm: https://www.npmjs.com/package/@google-cloud/bigtable

[2022-08-24 20:11] bcoe commented on #1122
The changes slated to go out in `3.13.0` went out in `4.0.0`:

https://github.com/googleapis/nodejs-bigtable/releases/tag/v4.0.0

Not quite sure what happened with `3.13.0, but the problem has been corrected.

[2022-08-24 20:11] #1122 closed

[2022-08-25 07:25] flaky-bot[bot] opened #1142 "Bigtable backups: should restore a backup to a different instance failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: 5bea48f9fcf50575453f6ee85881785e07917543
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/003f

[2022-08-25 20:35] #1142 closed

[2022-08-26 07:49] avosirenfal opened #1146 "Reading from BigTable adds unicode replacement characters to stored bytearray"
- OS: Windows 10
  - Node.js version: 16.13.2
  - npm version: 8.3.2
  - `@google-cloud/bigtable` version: 4.0.0

Some certain `Uint8Array` will store correctly to BigTable, but when attempting to retrieve that column the data will be polluted seemingly by incorrect UTF-8 decoding. When retrieving the same column in Python the data is as expected.

Test case:

[code]

Run that first, and note that

[2022-09-05 14:52] artman opened #1151 "Read the data of one property from"
I'm trying to stream a large amount of data for processing using:
[code]
I'm receiving a lot of rows, but each of them contains only small amounts of pre-serialized data. I'm having a hard time trying to figure out how to receive only the data and not the full row object. What I receive for each data callback is an object representation of the row, containing Bigtable, Table and Instance metadata:

[2022-09-13 21:55] sofisl opened #1154 "Library is broken and cannot be released"
Release & dependency installation is blocked on the following error:

[code]

This seems to be due to the fact that [this dependency](https://github.com/GoogleCloudPlatform/grpc-gcp-node) is outdated, pulling an old version of [this dependency](https://github.com/grpc/grpc-node).

We could update grpc-gcp-node, but the library seems to be out of date in many ways, most importantly, it's not on Nod

[2022-09-14 01:07] failure-checker[bot] opened #1155 "Warning: a recent release failed"
The following release PRs may have failed:

* #1150 - The release job failed -- check the build log.

[2022-09-15 08:30] kaioduarte commented on #888
There's a warning on the "Using filters" page about that; not sure when it was added, though.

https://cloud.google.com/bigtable/docs/using-filters#row-selection

[2022-09-15 14:35] flaky-bot[bot] opened #1159 "Bigtable/Table close: "after all" hook for "should fail when invoking readRows with closed client" failed"
This test failed!

To configure my behavior, see [the Flaky Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/main/packages/flakybot).

If I'm commenting on this issue too often, add the `flakybot: quiet` label and
I will stop commenting.

---

commit: f5991bb61740035d05cabfd645cdde8e2b67ea0d
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/50a0

[2022-09-16 23:26] #1155 closed

[2022-09-16 23:26] #1154 closed

[2022-09-17 00:07] failure-checker[bot] opened #1162 "Warning: a recent release failed"
The following release PRs may have failed:

* #1150 - The release job failed -- check the build log.

[2022-09-17 07:18] flaky-bot[bot] opened #1163 "📦 App Profile 📦 Create a profile: "before all" hook for "should create a profile with a single cluster" failed"
Note: #1105 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: f5991bb61740035d05cabfd645cdde8e2b67ea0d
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/026c6e3c-b096-4b05-a242-993615d734cb), [Sponge](http://sponge2/026c6e3c-b096-4b05-a242-993615d734cb)
status: failed
<details><summary>Test output</summary><br><pr

[2022-09-17 07:18] flaky-bot[bot] opened #1164 "📦 App Profile 📦 Create a profile: "after all" hook for "should ensure clusters match an updated profile" failed"
Note: #1106 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: f5991bb61740035d05cabfd645cdde8e2b67ea0d
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/026c6e3c-b096-4b05-a242-993615d734cb), [Sponge](http://sponge2/026c6e3c-b096-4b05-a242-993615d734cb)
status: failed
<details><summary>Test output</summary><br><pr